[2018-10-05 02:30] rcurtin opened #1 "Change `problems/` files to header-only?"
Right now we have .cpp files in `ensmallen_bits/problems/`; we could inline the methods and make them `.hpp` files, which would let us keep the library as header-only.  Any thoughts?  If everyone agrees I can go ahead and do this.

[2018-10-05 04:15] rcurtin commented on #1
I guess another idea is to move the `problems/` directory to the `tests/` folder.

[2018-10-05 04:58] conradsnicta commented on #1
As I'm still getting familiar with the codebase, could you explain what is the intent of the code in the `problems` directory?

[2018-10-05 09:09] zoq commented on #1
The ``problems`` directory  contains some optimization test problems like the booth function.

[2018-10-05 09:10] zoq commented on #1
I think it's reasonable to move the directory to the ``tests/`` folder.

[2018-10-05 14:12] conradsnicta commented on #1
@zoq - ok, I'll move the files once I'm done with the initial conversion from boost to catch.

[2018-10-05 14:38] conradsnicta opened #2 "converting from boost to catch test framework"
The (temporary) `tests_catch/` directory contains the converted tests from boost to catch.  This is currently a work in progress.

I've converted about a third of the tests and came up with the following conversion rules. I'm not sure whether these are completely correct, so it would be useful to check these.

`BOOST_AUTO_TEST_SUITE(blah)`  -> delete, but "blah" is used as the second argument to a

[2018-10-05 18:31] zoq commented on #2
``BOOST_REQUIRE_SMALL(x, 0.015) -> REQUIRE(x == Approx(0.0).margin(0.015))``

I guess you could also write ``REQUIRE(std::abs(x) <= 0.015)``, but I think it makes sense to check against the plain output (``x ``).

The rest looks reasonable to me, as I understand the doc ``REQUIRE(result == Approx(1.23).epsilon(0.0015))`` is the equivalent of ``BOOST_REQUIRE_CLOSE(x, 1.23, 0.15)``, worked on a coup

[2018-10-05 21:21] zoq opened #3 "mlpack bits (logging)"
In a couple of files we use mlpack's logging capabilities (``Log::Info, Log::Warn``). Are we going to use: ``arma::get_cout_stream()`` and ``arma::get_cerr_stream()``. Any thoughts?

[2018-10-06 04:50] conradsnicta commented on #3
Both are fine.  `arma::get_cout_stream()` is probably best suited to "normal" and expected output, such as printing progress (eg. while executing an iterative algorithm). `arma::get_cerr_stream()` is best suited for printing warnings and errors.

Alternatively, we can use `cout` and `cerr` directly.

In combination with either of the options above, it might be useful to adapt the simple printing a

[2018-10-06 05:01] conradsnicta commented on #2
The `REQUIRE(std::abs(x) <= 0.015)` form is certainly more compact. However, `std::abs()` only works for signed types. Using `size_t` or `arma::uword` wouldn't work. From what I have seen in the current tests, not all of the values that are checked are floats. Probably a minor issue, but it would be easier not to worry about these special cases by simply being consistent with the use of the `REQUI

[2018-10-06 15:14] conradsnicta opened #4 "mlpack bits (data loading)"
At least one of the tests uses `data::Load()` from mlpack:
`data::Load("sensing_X.csv", Xorig, true, false);`
We can replace this with direct armadillo CSV loading + transposes etc.  Example:

    arma::mat Xorig;
    Xorig.load("sensing_X.csv", arma::csv_ascii);
    Xorig = Xorig.t();
    ...

Any thoughts?

Related to issue  #3.

[2018-10-06 15:48] rcurtin commented on #4
Yeah, I think that's the right thing to do here.  No need for mlpack's "nice" utilities.

[2018-10-06 15:55] rcurtin opened #5 "import math::Smat() and math::Svec() and math::SymKronId() into sdp/"
The `PrimalDual` solver in `ensmallen_bits/sdp/` uses a lot of functionality out of mlpack's linear algebra support; specifically, this can be seen here:

[code]

This should be pretty straightforward, we just need to import the implementations of these functions into a header file in this directory and change the call or something.

[2018-10-06 16:00] rcurtin opened #6 "use Armadillo RNG support"
There are a couple instances where mlpack's `Random()` or `RandInt()` functions are used:

[code]

I think this shows up a lot in the tests too.  Instead, we can use Armadillo's RNG here; so `mlpack::math::randGen` can (probably) be replaced by `arma::arma_rng_cxx11_instance` or something similar, and we can use that to generate random numbers.

However there is also the Armadillo configuration pa

[2018-10-07 16:00] conradsnicta commented on #6
Armadillo has an internal class called `arma_rng_cxx11`, but it's not part of the public API.

The `ARMA_USE_EXTERN_CXX11_RNG` define is set by the armadillo cmake installer to indicate that the `arma::arma_rng_cxx11_instance` is available in the armadillo wrapper library.  The define not meant to be used outside of that specific use case.  Furthermore, it's only valid on Linux systems with gcc 4.

[2018-10-07 18:33] mentekid commented on #4
I can pick this up if nobody is working on it.

[2018-10-07 18:56] manish7294 commented on #5
@rcurtin Shall I take it?

[2018-10-07 20:13] zoq commented on #6
In case of:

[code]

it should be reasonable to use:

[code]

any thoughts?

[2018-10-07 20:16] zoq commented on #6
For the other cases I agree, it would be simple to use: ``arma::as_scalar(randi(...))``.

[2018-10-07 20:17] zoq commented on #5
https://github.com/mlpack/ensmallen/blob/master/include/ensmallen_bits/sdp/lin_alg.hpp should include all the necessary methods, at least I can build the corresponding test.

[2018-10-07 20:53] rcurtin commented on #3
I think that maybe it might be a good idea here to emulate Armadillo's `get_cout_stream()` and `get_cerr_stream()`, so that we can do in some mlpack header, e.g.,

[code]

and then for any `Log::Fatal` call we can just throw an exception.

I think that it won't be quite as simple as that; I'll try and find some time in the next day or two to think about if that will actually work.  Something simpl

[2018-10-07 20:55] rcurtin commented on #6
Agreed on both counts---I wonder why we didn't just use `arma::shuffle(visitationOrder)` originally?

[2018-10-07 20:59] rcurtin commented on #3
Actually, looks like I wrote my comment too late. :)  71e6979 seems to handle most of this already.  Still I'll think about how this can be hooked up more nicely to the mlpack infrastructure when desired.  Maybe this?

[code]

and then before including ensmallen, mlpack headers can just `#define ENS_CUSTOM_INFO_LOG mlpack::Log::Info` and `#define ENS_CUSTOM_WARN_LOG mlpack::Log::Warn`.  (Also the

[2018-10-08 10:45] zoq commented on #6
I guess the benefit is that ``std::shuffel`` works inplace; should be neglectable here.

[2018-10-08 15:20] conradsnicta commented on #6
arma:shuffle() should detect aliasing and do an inplace shuffle:
https://gitlab.com/conradsnicta/armadillo-code/blob/9.200.x/include/armadillo_bits/op_shuffle_meat.hpp#L62
https://gitlab.com/conradsnicta/armadillo-code/blob/9.200.x/include/armadillo_bits/op_shuffle_meat.hpp#L129

[2018-10-08 15:41] conradsnicta opened #7 "nested namespaces, non-optimisation functions, scope of tests"
Many of the original mlpack tests declare the use of a lot of namespaces.  For example:

    using namespace mlpack::optimization;
    using namespace mlpack::optimization::test;
    using namespace mlpack::distribution;
    using namespace mlpack::regression;
    using namespace mlpack::ann;
    using namespace mlpack::cv;

This raises a few questions:
1. Is the intent to have all of the optimisa

[2018-10-08 15:48] rcurtin commented on #7
I think that for ensmallen we can just have `ens` and `ens::test`, the latter of which can hold the stuff in the `problems/` directory.  ensmallen is much smaller scope than mlpack so definitely better to keep it simple in my opinion.

So, I think that we'll need to port over something like the logistic regression function, since a lot of the optimization tests depend on that, but some of the more

[2018-10-08 23:09] zoq commented on #7
Agreed, also the logistic regression function is already ported, see https://github.com/mlpack/ensmallen/commit/4056620043f585193284e3fa30a51aea28fe026c; haven't backported the ``ComputeAccuracy`` method, will do that if we think we need the method as well. Also since the logistic regression function implements all flavours (Evaluate, EvaluateWithGradient, PartialGradient, etc.) I think it makes s

[2018-10-08 23:15] zoq commented on #6
Thanks for the clarification, should have checked first. https://github.com/mlpack/ensmallen/commit/05a8743137de66364a27beb225e01b8d955a7430 implements the modifications.

[2018-10-09 07:45] conradsnicta opened #8 "multiple inclusions of armadillo header"
Pretty much all the sources in `ensmallen_bits` have `#include <armadillo>`.
It would probably make sense to simplify the code by doing the inclusion only once, at the top of `ensmallen.hpp`.

[2018-10-09 22:42] zoq commented on #8
Agreed, I can take this up.

[2018-10-09 22:44] rcurtin commented on #8
You're right that it can simplify the code if we do that, but it makes it harder for a user to include only a small part of ensmallen, e.g.

[code]

if they only want to use SGD, for instance.  I don't have a *huge* preference either way, but it shouldn't be a problem to have the `#include <armadillo>` around.

[2018-10-09 22:49] rcurtin commented on #7
For the `LogisticRegressionTest` I've written the following adaptation of the `bigbatch_sgd.cpp` test.  I didn't push it in case @conradsnicta was working on it, but this general "formula" should work for most tests.  I did push the auxiliary file `test_function_tools.hpp` to the `tests_catch/` directory.  Then we can use the following code for `

[code]

However, it's not converging right.  I won

[2018-10-10 03:08] conradsnicta commented on #8
To keep things simple, I suggest to have `#include <ensmallen.hpp>` as the only supported way of using ensmallen within user code. Otherwise there's just too much stuff for us to worry about, both in the code and documentation.  This slows down development and adds to the maintenance burden.

If a user really only wants sgd, they're free to rip it out of the codebase themselves.

I don't think we

[2018-10-10 03:09] rcurtin commented on #8
That's a fair point, and like I said I don't have a huge preference so I'm fine with it.  It might be useful to put a note in ensmallen.hpp that it's expected that ensmallen.hpp is the only header included to include the library.

[2018-10-10 08:22] conradsnicta opened #9 "expand LogisticRegression and add GaussianDistribution"
Many of the tests rely on functions in the LogisticRegression class that are currently not present in ensmallen. For example, `ada_delta_test.cpp` uses `LogisticRegression::ComputeAccuracy()`.  I think it's necessary to port these from mlpack in order to keep the tests working.  (It would also be quicker than rewriting the tests).

In the same vein, many tests also rely on `GaussianDistribution`,

[2018-10-10 13:39] conradsnicta commented on #9
Good points.  I can take this up again tomorrow (in about 12 hours or so), unless I get beaten to it.

[2018-10-11 00:01] zoq commented on #9
Added with https://github.com/mlpack/ensmallen/commit/f0570c82fdd4ab24cf8a5649a7564be1da97f893

[2018-10-16 22:35] zoq opened #25 "Documentation"
I think right now we can keep the documentation relatively simple, I think something like this could work?

### AdaDelta
Adadelta is an extension of Adagrad that adapts learning rates based on a moving window of gradient updates, instead of accumulating all past gradients. Instead of accumulating all past squared gradients, the sum of gradients is recursively defined as a decaying average of all p

[2018-10-16 22:37] rcurtin commented on #25
That looks great to me.  I started sketching some simple documentation for the different `FunctionType` abstractions so if you want to handle the optimizers I can handle that part.

[2018-10-17 01:35] conradsnicta commented on #25
Looks good.  For each optimizer algorithm I recommend to add a link (in the See also part) to a corresponding Wikipedia article, and/or arXiv paper, and/or DOI linked paper.

Otherwise someone who is not versed with all the variants (or even the general nature of each algorithm) will have no real idea which algorithm would be the most suitable for their particular problem.

Furthermore, having lin

[2018-10-17 23:42] zoq commented on #25
Not sure if we like to go with the current style (highly based on the simple/clean/great armadillo doc style) and still some optimizer and details left: http://kurg.org/misc/ensmallen/docs.html

[2018-10-18 01:58] conradsnicta commented on #25
Looks mostly ok.  A few suggestions:
* At the top of the page, change "Optimizer" to "Optimizers"
* For each optimizer section (eg. AdaDelta), use the horizontal line only for separating the sections from each other. Right now the second horizontal line (used as an underline of sorts) breaks the flow.
* The attributes look a bit confusing.  At first look **stepSize**(double) looks like a function,

[2018-10-18 04:53] rcurtin commented on #1
This is done now; all the problems are header only.

[2018-10-18 04:53] #1 closed

[2018-10-18 05:05] rcurtin commented on #6
I think this one is fully handled now---I see no use of any random object or anything other than Armadillo's existing public random functions.

[2018-10-18 05:05] #6 closed

[2018-10-18 05:07] rcurtin commented on #25
Nice!  Looks good with a quick skim (I'll read through in full sometime in the future).  I'm not picky on the style, maybe we can just match it to whatever is set up for the website.  About the types, maybe it's better to write, e.g., "double **stepSize**"?

[2018-10-18 05:10] rcurtin opened #27 "Semantic versioning and leading zeros"
I don't have any problems with version numbers like Armadillo and I can see why this is useful, but I realized while browsing http://semver.org today that this actually violates their guidelines:

[code]

In this case, I think it might be more important to go with the standard instead of needing to justify why we're doing "semantic versioning except this one bit".  Lots of tools that deal with ver

[2018-10-18 05:11] rcurtin commented on #9
This seems done now. :+1:

[2018-10-18 05:11] #9 closed

[2018-10-18 05:12] #8 closed

[2018-10-18 05:12] rcurtin commented on #7
Everything is in either `ens` or `ens::test` now, so I think this is sorted out.

[2018-10-18 05:12] #7 closed

[2018-10-18 05:13] rcurtin commented on #5
Thanks Marcus :+1: (sorry it took me so long to get back around to updating the issue...)

[2018-10-18 05:34] conradsnicta commented on #27
This is why the minor version in Armadillo is always 100 or greater. (it's bounded to be between 100 to 999).  This is consistent with semver guidelines -- it simply adds a further (logical) restriction.

X.0 releases are always suspect anyway, so it's better to avoid them :)

[2018-10-18 07:09] conradsnicta commented on #25
That would work as well.  Maybe have the types in a separate column, for a clean look.

[2018-10-18 09:16] conradsnicta commented on #4
I believe this is done.

[2018-10-18 09:16] #4 closed

[2018-10-18 09:17] #2 closed

[2018-10-18 14:23] conradsnicta opened #29 "character strings in version numbers"
https://github.com/mlpack/ensmallen/blob/51dbf63a19477526914e955d677dbd3bf4c15439/include/ensmallen_bits/ens_version.hpp#L15-L17
having "RC1" in the above line will cause the following line to break:
https://github.com/mlpack/ensmallen/blob/51dbf63a19477526914e955d677dbd3bf4c15439/include/ensmallen_bits/ens_version.hpp#L26

Even if somebody processes the ENS_VERSION_PATCH macro (instead of ens::ve

[2018-10-18 15:03] rcurtin commented on #27
Clearly not all brain cells were firing correctly when I opened this.  Let's just do that then, although I'd prefer to got with 10-99, since I really doubt we'll ever have more than 89 minor versions. :+1:

[2018-10-18 15:03] #27 closed

[2018-10-18 15:06] rcurtin commented on #29
That's fine with me.  I committed f0fb8a5 that should be consistent here. :+1:

[2018-10-18 15:06] #29 closed

[2018-10-19 00:13] zoq commented on #25
Thanks for the comments, the latest version will be available  here: http://kurg.org/misc/ensmallen/docs.html

[2018-10-19 02:40] conradsnicta commented on #25
Looks good. Minor issues:

* In the last section titled Stochastic Gradient Descent with Restarts (SGDR), there is an errant bullet point near the start of the section
* In the Katyusha section, there's a bit of line noise: "... on top of Nesterovâ€™s momentum."
* In the L-BFGS section, also line noise: "Broydenâ€“Fletcherâ€“Goldfarbâ€“Shanno"

[2018-10-19 18:04] conradsnicta commented on #25
I've committed the initial website sources directly to https://github.com/mlpack/ensmallen.org
A few points to note:
* The download link on the home page is currently simply set to "ensmallen-1.10.0.tar.xz" within the same directory; this file obviously doesn't exist yet
* I've embedded the current draft of the documentation into docs.html; there is html code for the layout/menus/etc above and bel

[2018-10-21 03:13] conradsnicta opened #36 "add http://ensmallen.org to githhub repo description"
To maximise impact, I suggest expanding the github repo description from:
    A header-only C++ library for mathematical optimization.
to
    A header-only C++ library for mathematical optimization -- http://ensmallen.org

[2018-10-21 11:56] zoq commented on #36
Agreed, also should we add tags as well like: optimization, optimization-algorithms?

[2018-10-22 12:25] rcurtin commented on #36
I see someone already added the website.  I added a few tags also.  Feel free to modify/change if desired.

[2018-10-22 12:25] #36 closed

[2018-10-25 07:03] conradsnicta opened #39 "move paper source to separate repo"
The paper sources don't serve a directly useful purpose to the users of the software.  Having a single pdf would be more useful (ie. it would be immediately viewable).

It would be good to clean this up and move the sources to a separate repo, in similar vein to the joss_paper for mlpack. As an added bonus, the modified arxiv version of the paper can be kept in the same repo.

(PS. I'm happy to do

[2018-10-25 13:21] rcurtin commented on #39
I created the empty repo https://github.com/mlpack/ensmallen_paper ; if you want to move the paper sources to there that sounds good to me. :)

[2018-10-26 02:33] rcurtin commented on #39
Thanks!  Now the sources are all in that repository.

[2018-10-26 02:33] #39 closed

[2018-11-19 22:38] zoq opened #52 "ensmallen header"
The examples on the webpage use ``#include <ensmallen>`` instead of ``#include <ensmallen.hpp>``, but we only provide ``ensmallen.hpp``. So I think we should either adjust the examples or change the name of the header file. I don't have any preference, any thoughts?

[2018-11-22 02:35] conradsnicta commented on #52
Since we have released 1.10, we need to maintain backwards compatibility by having `ensmallen.hpp`.

However, the existence of the `ensmallen.hpp` is not mutually exclusive with also having the `ensmallen` header.  I prefer the latter form, as it's shorter and consistent with the naming style used by the standard C++ library.

As such, I suggest that we add the `ensmallen` header, which contains o

[2018-11-22 02:37] conradsnicta commented on #25
Ryan has reworked the documentation, so we can close this.

[2018-11-22 02:37] #25 closed

[2018-11-22 14:51] rcurtin commented on #52
Seems to me like it would just be easiest to update the website.  Using the scripts I already have set up, if we just update all the documentation in `optimizers.md` and `function_types.md`, I can release a new version and the website will automatically get rebuilt.  Any objection to that?

[2018-11-23 04:00] conradsnicta commented on #52
ok with me

[2018-11-28 18:20] #52 closed

[2018-11-30 15:20] lukasmack0 opened #58 "Constrained functions documentation"
In the Constrained functions documentation it specifies this function prototype:
`double GradientConstraint(const size_t i, const arma::mat& x, arma::mat& g);`

As per the source code this should be:
`void GradientConstraint(const size_t i, const arma::mat& x, arma::mat& g);`

[2018-12-02 18:37] rcurtin commented on #58
@lukasmack0: thanks for pointing it out!  I opened #59 to fix the issue.

[2018-12-03 12:36] rcurtin commented on #3
@coatless: agreed.  Right now the code just uses Armadillo's output streams so there should be no problem for Rcpp.

[2018-12-03 12:36] #3 closed

[2018-12-11 16:51] rcurtin opened #62 "Templatized `Optimize()`"
Each optimizer currently has a signature like

[code]

but really it might be nicer if we did

[code]

The code change should be straightforward for each optimizer but there is one main issue from my end: all the documentation as written suggests writing `FunctionType` functions with `arma::mat`.  Making that documentation fully templatized would make it harder to provide really simple examples, s

[2018-12-11 19:39] zoq commented on #62
I think an extra section works just fine, would be great if we could keep the documentation/examples as simple as possible.

[2018-12-12 04:33] conradsnicta commented on #62
I recommend not making the MatType "too flexible", as people can and will try doing silly things like feeding integer matrices to the optimisers.  We probably don't want to deal with complex types either, as (based on experience) that can complicate a lot of the code.  That leaves only two viable element types: float and double.

One way to place the restriction is to first modify the signature fo

[2018-12-12 04:40] conradsnicta commented on #62
In the Armadillo [documentation](http://arma.sourceforge.net/docs.html#Mat) I worked around this by stating:

Maybe have the following in the ensmallen documentation:

[2018-12-18 04:15] conradsnicta commented on #62
True.  However, I recommend making sure that compilers actually properly crap out and stop at the static_assert(), instead of trying to instantiate half the library anyway.  I've had experience with template code where compilation continued even though fatal errors were present.  Perhaps the compiler writers were misguidedly thinking that it would be useful to expose as many bugs in one hit as pos

[2019-01-10 19:04] lukasmack0 opened #68 "Additional optimizers of differentiable functions"
Are there any optimizers that anyone would like to see implemented? In particular optimizers for differentiable functions.
@zoq any ideas or requests? @rcurtin has suggested Nesterov's Accelerated Gradient Descent method as a potential.

[2019-01-10 19:57] zoq commented on #68
Nesterov's Accelerated Gradient Descent  sounds like a good idea to me, ND-Adam (Normalized Direction-preserving Adam) might be an alternative.

[2019-01-12 15:51] lukasmack0 commented on #68
To clarify, for Nesterov's Accelerated Gradient Descent are you referring to the algorithm described here https://blogs.princeton.edu/imabandit/2013/04/01/acceleratedgradientdescent/, as opposed to the algorithm described here http://ruder.io/optimizing-gradient-descent/index.html#nesterovacceleratedgradient which looks like it's already implemented in sgd/update_policies/nesterov_momentum_update.

[2019-01-14 20:40] zoq commented on #68
I was thinking about the  http://ruder.io/optimizing-gradient-descent/index.html#nesterovacceleratedgradient which as you pointed out is already implemented.

[2019-01-19 19:23] rcurtin opened #70 "CMA-ES inconsistencies"
This is a continued version of mlpack/mlpack#1475, ported to the ensmallen repository because this is a more appropriate place.  This was originally opened by @FloopCZ with the following text:

There are some responses in the original issue about how we should handle each point, but the issue is not yet solved.

[2019-01-19 19:42] rcurtin opened #71 "SDP should deal with linearly dependent constraints somehow"
This is a port of mlpack/mlpack#404.  There are some more details there.  Here is the original description from @stephentu:

[2019-01-19 19:43] rcurtin opened #72 "SDP should have a more general linear operator constraint"
This is a port of mlpack/mlpack#401.  There are some more details there.  This is the original description from @stephentu:

[2019-01-19 19:45] rcurtin opened #73 "Investigate implementing SGD for LRSDP"
This is ported from mlpack/mlpack#395.  There is some more discussion there.  Here is the original description from @stephentu:

[2019-01-19 19:46] rcurtin commented on #68
@lukasmack0 I was porting mlpack issues to ensmallen today and opened #73, which I think might be interesting to you.  :+1:

[2019-01-20 23:23] coatless opened #74 "Problematic SPSA Initialization"
With ensmallen 1.13.0 adding `SPSA`, there was a regression introduced. In particular, the `SPSA` initialization of parameters is set to some unknown value. This was picked up under the `-Wreorder` flag.

Details: https://stackoverflow.com/questions/1828037/whats-the-point-of-g-wreorder

Error Information:

[code]

/ cc coatless/rcppensmallen#8

[2019-01-20 23:36] zoq commented on #74
Thanks for the notification, https://github.com/mlpack/ensmallen/pull/75 will fix the issue.

[2019-01-20 23:37] coatless commented on #74
@zoq that was quick! I almost had the PR ready.

[2019-01-20 23:40] zoq commented on #74
Will make sure to wait a couple of minutes before opening the PR :) Also, will make sure the build process marks similar issues in the future.

[2019-01-25 01:10] rcurtin commented on #74
Sorry for the slowness on this one.  I merged #75 and released 1.13.1.  Thanks for the report and feel free to open more issues for stuff like this in the future---it's pretty easy to fix. :)

[2019-01-25 01:10] #74 closed

[2019-01-27 05:42] favre49 opened #76 "Including "ensmallen.hpp" gives errors"
On including ensmallen.hpp, the included header files are unable to "find" the header files that they include, since the file paths seem wrong. This is fixed by using relative paths instead.

Sample code:
`#include "ensmallen.hpp"

int main()
{
	RosenbrockFunction f;
	arma::mat coordinates = f.GetInitialPoint();

	CNE optimizer(200, 10000, 0.2, 0.2, 0.3, 65, 0.1e-4);
	optimizer.Optimize(f, coordin

[2019-01-31 05:07] rcurtin commented on #76
I don't necessarily have a problem if someone wants to change all the includes to be relative, but really it's a much better idea (and would more typically be done) to just ensure that the ensmallen include directory is available on the compiler include search path.  That can be done either by installing ensmallen to the system include directory or using `-I` to specify additional include director

[2019-01-31 07:42] favre49 commented on #76
Thank you for your help, that fixed my problem :)

[2019-01-31 12:36] rcurtin commented on #76
Great, glad it helped.  I'll go ahead and close this issue then. :+1:

[2019-01-31 12:36] #76 closed

[2019-01-31 21:20] originalsouth commented on #68
How about Non-linear Conjugate Gradient, BFGS, and perhaps even Newton--Raphson (if the Hessian is available).

[2019-02-01 03:49] sshkhr commented on #70
@rcurtin I could take a look at this once I'm finished with mlpack/mlpack#1510

This could be a good place to get started for the NEAT project idea for gsoc too which I'm interested in

[2019-02-01 21:16] zoq commented on #70
CMA-ES isn't related to NEAT, but you get to know the optimizer infrastructure.

[2019-02-02 11:16] favre49 opened #78 "Multimodal Optimizers"
Ensmallen currently lacks optimizers which are able to find multiple optima to multimodal functions. We could find multiple optima through niching or by having an implementation of Glowworm Swarm Optimization. Please let me know your thoughts on this.

[2019-02-04 13:46] favre49 commented on #78
NSGA-III seems interesting to me, i would like to work on it. Is it suitable to be added to the GSoC ideas list?

[2019-02-05 20:16] zoq commented on #70
Right, no need to restrict the starting point.

[2019-02-06 13:26] niteya-shah commented on #68
@rcurtin can I do AdamWR / SGDWR ? I read the paper and I think I can do it and I didnt see its implementation in the library.

[2019-02-06 17:13] rcurtin commented on #68
@niteya-shah: sure, I think it could be nice to add those also.

[2019-02-06 21:58] zoq commented on #78
I don't think NSGA-III alone is enough work over the summer, but it could be part of an Multiobjective Optimization idea. Also, the ideas listed are mainly just ideas, feel free to propose anything else you think might be interesting.

[2019-02-09 17:20] favre49 opened #80 "CMAES sometimes gives runtime errors"
If you run CMAES with different seeds every time with the code:
`#include "ensmallen.hpp"
#include <armadillo>

int main()
{
	ens::test::RosenbrockFunction f;
	arma::mat coordinates = f.GetInitialPoint();
	arma::arma_rng::set_seed_random();
	ens::CMAES<> optimizer(0, -10, 10, 32, 200, -1);
	double value = optimizer.Optimize(f, coordinates);
	coordinates.print();
	std::cout << value;
}
`
and then e

[2019-02-09 19:59] rcurtin commented on #80
@favre49 thanks for the report.  I think this can happen when the observed covariance matrix isn't positive definite (which can happen).  There are many possible solutions, but one might be to detect when the Cholesky decomposition fails and then add some small value to the diagonal (or alternately perform an eigendecomposition, set any negative eigenvalues to 0, and reconstruct).  However, I have

[2019-02-09 20:17] rcurtin commented on #78
I don't have a problem with multimodal optimizers, but what will the API look like?  If we do a GSoC project on it, that should definitely be a part of the proposal.

[2019-02-21 06:26] #80 closed

[2019-02-22 18:23] kereslas opened #84 "Installation with vcpkg"
To be coherent with [mlpack vcpkg installation](https://github.com/mlpack/mlpack/issues/1727), I have made a [PR](https://github.com/Microsoft/vcpkg/pull/5421) to vcpkg project. I know ensmallen is a header-only library, but this way you install the header files in the folder Visual Studio looks for libraries automatically. To install it, if you have vcpkg installed, just type:

.\vcpkg install en

[2019-02-25 00:25] rcurtin commented on #84
@kereslas thanks again, I think the right thing to do is to update the website documentation.  I'll do this when I have a chance and then we can close this issue. :+1:

[2019-03-01 15:45] favre49 commented on #70
@zoq For point 2, besides your suggestions, could we also include the initial step size as a parameter? Currently, we experience a problem when we use larger bounds, since the initial step size becomes too large. This causes the CMAES implementation to fail tests when the parameters are changed to include larger bounds (For e.g., [-25,25] for the LogisticRegressionTest). This problem is fixed if w

[2019-03-05 23:38] zoq commented on #70
Sounds reasonable to me, I think this is already included in #88?

[2019-03-06 05:37] favre49 commented on #70
No, I wanted to make sure it was alright before including it. I'll make the required changes to #88 soon

[2019-03-06 18:04] zoq commented on #70
Sounds good, thanks!

[2019-03-06 18:13] rcurtin commented on #70
Do you want me to wait to release the next version of ensmallen until #88 is merged?

[2019-03-06 18:21] favre49 commented on #70
I'm not sure whether that question was meant for me, but I should let you know that i might not be able to work on #88 much for the next couple weeks, since I'm going to be busy with exams and stuff.

[2019-03-07 05:17] rcurtin commented on #70
No worries, we can just get #90 merged and then release, assuming that that one is basically ready (I think it is, I'll try and review it tomorrow).

[2019-03-07 05:48] favre49 commented on #70
Sure :)
Also, about applying box constraints for each parameter, i don't think we currently have any implementation that does that yet. Would it be fine to add a parameter in the constructor for an `arma::cube` where each slice has the constraints? Or is there some other way you would like to do this?

[2019-03-10 17:12] rcurtin opened #93 "Test issue"
Let's see if mlpack-bot labels it.

[2019-03-10 17:13] rcurtin commented on #93
It did. :)

[2019-03-10 17:13] #93 closed

[2019-03-10 17:13] coatless commented on #93
Good bot.

[2019-03-12 22:36] SinghKislay opened #96 "Problem with implementation of optimizers."
So I have been looking for examples on how to use the different methods of FFN wrapper other than Add and Train no luck so far. So, I decided to give it a go on my understanding and so far it is going horrible.

I planned on implementing ResNet
now all I wanted to do was

output=convolution(prev_input+prev_output)
but all the examples are straight forward model.Add and then optimize

So I planned

[2019-03-16 14:39] rcurtin commented on #96
Hey there @SinghKislay, I think that this is not specific to ensmallen but instead mlpack.  In any case, I'd suggest taking a careful look at `src/mlpack/tests/feedforward_network_test.cpp` and `src/mlpack/tests/convolutional_network_test.cpp` and related files to get an idea of how to build neural networks with mlpack.  The strategy you described for building a network is pretty straightforward,

[2019-03-19 05:09] SinghKislay commented on #96
Hi, @rcurtin I have read the examples from test/convolutional_network_test.cpp, model/kaggle/DigitRecogniser/src/DigitRecogniser.cpp I have also read the example from vae in model reository. All of them use Add() method to add the layer and then they just use Train() method with input and target. I understad this and have also built one. But what I want to do is modify the outputs of each layer wh

[2019-03-23 19:31] diego898 opened #99 "Source Code for Demo/Visualizations"
How were the visualizations done for this interactive demo?

https://vis.ensmallen.org/

Is the source available?

[2019-03-24 19:50] zoq commented on #99
The repo (https://github.com/zoq/optimizer-visualization) doesn't contain the code for the website, but if there is interest I can push that one as well.

[2019-03-24 20:02] zoq commented on #96
@SinghKislay Sorry for the slow response, in this case you have to manually step through each layer or implement a new one that you could add right after each layer you like to modify. Here is the code to get the output after each layer:

https://github.com/mlpack/mlpack/blob/6faf0b782705c29267fbfeb1eca527b6006e5a04/src/mlpack/methods/ann/ffn_impl.hpp#L134-L146

in this case ``network[begin + i].O

[2019-03-24 21:30] diego898 commented on #99
Hey @zoq - I really enjoyed the interactive figures/demos. Reminded me of distill.pub

[2019-03-24 21:33] rcurtin commented on #70
Personally I don't see any issue with an `arma::cube` for constraints.  It might be worth having that as a separate constructor, so that the user can choose to provide two `double` parameters for the minimum and maximum in each dimension (which is easy to make a hypercube with), or a more complex `arma::cube`.

[2019-03-25 05:47] SinghKislay commented on #96
@zoq thanks for reply, I understand we have to add layers manually, which is why I made the resnet struct on top of ffn class. Where I am facing problem is propagating the gradients back and the loss function. Say I push the input all the way through to the last layer and then push it into the loss fuction. How do I backprop. All the examples that I saw regarding back prop were using simple train

[2019-04-06 12:16] greatsharma opened #102 "Linking error while calling Optimize function"
I am getting linking error while calling Optimize function for any ensmallen optimizer.

I coded as stated in http://ensmallen.org/docs.html, infact I copy pasted the same code but I get linking error while calling the Optimize function.

I am using Windows 10 and Visual studio 2017

I got these linking errors in the SGD.obj file (here SGD is my program name) ->

1>SGD.cpp

1>SGD.obj : error LNK20

[2019-04-07 14:25] rcurtin commented on #102
It looks like you are not linking against Armadillo.  Be sure that you are linking against all dependencies of your code. :+1:

[2019-04-10 07:22] greatsharma opened #104 "Infinite loop bug in SGD"
When we run SGD with 0 batch size then the loop goes infinite. Although it is very stupid thing to use 0 batch size but user can accidentally set batch size to 0 ( as I did it accidentally ). And as training on very large data set and complex machine learning models do take large amount of time so if an user accidentally set batch size 0 for such situation then they may think that the optimizer is

[2019-04-10 07:34] greatsharma commented on #104
This issue is solved in #105.

[2019-04-12 04:08] rcurtin commented on #104
Agreed, it would be useful to catch this condition.  Thanks for looking into it.

[2019-04-12 10:57] mangelett opened #107 "Obtain the hessian matrix at the optimal point"
Hi,

After having solved an optimization problem, is it a way to estimate the gradient and the hessian matrix at the optimum point it the function does not implement  the gradient nor the hessian?

Best Regards

[2019-04-12 16:56] rcurtin commented on #107
Well, if the function you're optimizing has an `Evaluate()` and `Gradient()` method, you can just call `Gradient()` to compute the gradient at the final returned matrix from `Optimize()`.  For the Hessian you'd have to implement that yourself for the `FunctionType` you are optimizing, but you could just call that using the returned matrix from `Optimize()` too. :+1:

Let me know if I can clarify m

[2019-04-12 17:06] zoq commented on #104
Personally, I find it difficult to draw the line between what should be checked and what not, as you pointed out, using a batch size of 0 doesn't make much sense. Also, I think we can create a bunch of optimizer parameter combinations that will trigger a similar behavior.

[2019-04-12 17:31] greatsharma commented on #104
@zoq I do agree with your point but I mentioned it just because I stuck in it accidentally and after few minutes when I close the execution and look closer to sgd class then I realised this. But maybe user don't look at the sgd class and they just use mlpack for developing purpose and not for contribution. Rest as mentioned by @rcurtin in #105 I do throw an exception for that.

[2019-04-16 18:08] #68 closed

[2019-04-17 00:33] originalsouth commented on #68
Sad :(

[2019-04-17 00:37] rcurtin commented on #68
We can reopen it if you like.  It might be better to open issues written for first-time contributors for BFGS, nonlinear CG, and N-R (although we don't have any abstractions for second-order differentiable functions at the moment).  We could mark those `keep-open`.  This repository doesn't currently have problems with way too many issues open, so it's not a problem for me to add a few feature requ

[2019-04-17 07:08] lukasmack0 commented on #68
I'd be interested in having it re-opened. I should have a lot more time to look at it in the next month or so.

[2019-04-17 13:44] zoq commented on #68
Personally, I don't see the need to open an issue that asks for new optimisers in a general sense. Contributions in that or another direction are always welcome. Also, if somebody likes to see a method implemented, opening a new issue is just fine and also much appreciated.

[2019-04-25 05:01] rcurtin opened #108 "Add option to avoid computing exact objective at end of optimization"
At the end of most of the SGD-like optimizers, we have a loop that loops over all parts of the decomposable function and computes the final objective.  But this is problematic in that the decomposable function could have *very many* functions, meaning that the final objective computation takes a very long time.  This could easily be seen with, e.g., training a machine learning model, where you mig

[2019-05-05 08:34] merria28 opened #110 "error: using namespace ens"
I installed "ensmallen" successfully. Then an error occur when i calling by "using namespace ens".
The error is following:
Error	C2664	'arma::Mat<double>::Mat(arma::Mat<double> &&)': cannot convert argument 1 from 'arma::uword' to 'const arma::SizeMat &'

at  line 92 in file "atoms.hpp" :
arma::mat gradient(size(x));

[2019-05-06 04:09] conradsnicta commented on #110
Try the following workaround:

    arma::mat gradient(arma::size(x));

Note that MSVC is full of bugs. For any real work, I suggest using a proper compiler like gcc or clang.

[2019-05-06 08:33] merria28 commented on #110
@conradsnicta  thanks a lot.  This issue is solved.

[2019-05-06 08:34] #110 closed

[2019-05-12 16:53] rcurtin commented on #84
Hey @kereslas, I let this sit for too long and the change is really simple.  In any case I finally got it added to a list under `download`: https://ensmallen.org/.  As ensmallen becomes available in more repositories, I'll add those instructions to the website also.  Thanks for taking the time to package it for vcpkg. :+1:

[2019-05-12 16:53] #84 closed

[2019-05-16 21:21] #102 closed

[2019-05-19 18:21] #107 closed

[2019-05-20 18:53] coatless opened #114 "`shuffle` parameter in `spsa` is not used"
#### Issue description

The `shuffle` parameter in `spsa` is not used.

[code]

#### Your environment

 * version of ensmallen: 1.15.0
 * operating system: macOS
 * compiler: clang 7.0.0
 * version of Armadillo: 9.400
 * any other environment information you think is relevant:

#### Steps to reproduce

Compile ensmallen.

[2019-06-01 04:58] rcurtin commented on #114
Since #115 is merged, this is now solved.  Thanks for the PR. :+1:

[2019-06-01 04:58] #114 closed

[2019-07-23 14:39] SinaMojtahedi commented on #108
Dear all,
Lets consider a system of equations are as below:
((1-x(1))(10+x(5)))^2/(((x(1)^2)x(3)^2)+((1-x(1))^2x(2)^2)) = 0.154;
((1-x(1))(10-x(5)))^2/(((x(1)^2)x(3)^2)+((1-x(1))^2x(2)^2)) = 0.254;
(x(1)(10+x(4)))^2/(((x(1)^2)x(3)^2)+((1-x(1))^2x(2)^2)) = 0.545;
(x(1)(10-x(4)))^2/(((x(1)^2)x(3)^2)+((1-x(1))^2x(2)^2)) = 0.034;
(10+(x(1)*x(4))+(1-x(1))*x(5))^2/(((x(1)^2)x(3)^2)+((1-x(1))^2x(2)^2)) =

[2019-07-26 02:53] #78 closed

[2019-07-26 02:53] #99 closed

[2019-07-26 02:53] #96 closed

[2019-07-26 02:53] #104 closed

[2019-08-08 02:11] rcurtin commented on #108
Fixed with #109.

[2019-08-08 02:11] #108 closed

[2019-08-09 15:41] coatless opened #122 "Release notes"
When pulling from [`HISTORY.md`](https://github.com/mlpack/ensmallen/blob/master/HISTORY.md), the release notes:

1. miss the "code name" that can be found in `ensmallen.hpp` and [GitHub release page](https://github.com/mlpack/ensmallen/releases).
2. miss hard links to the PR, e.g. `#86` -> `[#86](https://github.com/mlpack/ensmallen/pull/86)`

Would it be possible to always include these component

[2019-08-09 15:46] rcurtin commented on #122
Oh, I see, that's easy enough to do.  Let me manually make those changes now.  I don't think it's worth issuing 1.16.1 with just changes to HISTORY.md, but we can make sure that happens in the future.  Does that sound good?

[2019-08-09 15:48] coatless commented on #122
Sounds good! I agree, there is no need to release these history changes as 1.16.1.

[2019-08-09 18:06] coatless opened #123 "PSO variable type buglet"
#### Issue description

Mismatch on return types in [PSO](https://github.com/mlpack/ensmallen/blob/b46986d1344551b1d8480784661b7c547304ba04/include/ensmallen_bits/pso/pso.hpp)

[code]

Defined as `arma::vec`:

https://github.com/mlpack/ensmallen/blob/b46986d1344551b1d8480784661b7c547304ba04/include/ensmallen_bits/pso/pso.hpp#L207-L210

But returning `size_t`:

https://github.com/mlpack/ensmallen/b

[2019-08-09 20:43] zoq commented on #123
Thanks for the report, should be fixed in https://github.com/mlpack/ensmallen/pull/124, I will put some time into the test setup, so that we can avoid such issues in the future.

[2019-08-11 14:49] rcurtin commented on #123
Fixed in #124.  Thanks for the report. :+1:

[2019-08-11 14:50] rcurtin commented on #122
Fixed in #125.  I'll make sure that HISTORY.md follows this format in the future.  To make your life easier, should we do this for mlpack also?

[2019-08-11 14:50] #122 closed

[2019-08-11 16:54] rcurtin commented on #123
Ah, I discovered that #126 will also be necessary here.

[2019-08-11 20:52] coatless commented on #123
@rcurtin sorry about that. I should have grabbed the entire log. :/

[2019-08-12 15:18] coatless commented on #122
@rcurtin I'm not sure how important that would be as the `RcppMLPACK` bridge relies on the system-specific version of `MLPACK` installed whereas the `RcppEnsmallen` package  distributes the header-only library.

[2019-08-14 04:16] rcurtin commented on #122
Ah, got it, thanks for the clarification. :+1:

[2019-09-07 02:16] rcurtin commented on #62
With #119 merged, this is now solved.  Hooray!  We can release ensmallen 2.10.0 with the new support.

[2019-09-07 02:16] #62 closed

[2019-09-07 18:31] shrit opened #130 "Callback with Ann"
Hello,

Thanks for releasing ensmallen 2.10.0 with Callback PR, it is really a great work.
It is possible to show an example about how to use the callbacks with ann? I am not sure if I understood well the ffn class, but It seems that the train function does not take in account the callbacks yet, since it is calling `optimizer.Optimize(*this, parameter)`

Best regards,

[2019-09-07 18:32] rcurtin commented on #130
Exactly, the mlpack code isn't updated yet.  You could locally modify your copy so that `Train()` takes callbacks as parameters, for instance.  I hope that we can get the callback support in the mlpack ANN code soon for sure. :+1:

[2019-09-09 20:31] zoq commented on #130
I have opened https://github.com/mlpack/mlpack/issues/2013 which also shows the modifications of the ``FFN`` class. Let's discussion further details over there.

[2019-09-09 20:31] #130 closed

[2019-09-10 10:53] barak opened #132 "Testing Smashing Autobuilders"
#### Issue description

The Debian ensmallen package is automatically built (compiled) on many architectures. The build process runs the test scripts. Everything works fine on some architectures (amd64, say) albeit with a rather large amount of time required for the test phase. But on some other architectures (i386, see https://buildd.debian.org/status/fetch.php?pkg=ensmallen&arch=i386&ver=2.10.0-

[2019-09-10 12:29] zoq commented on #132
Thanks for the report, I can see a similar issue in the matrix build: http://ci.mlpack.org/view/ensmallen/job/docker%20ensmallen%20nightly%20build/

will take a closer look, unless somebody else likes to dive into the issue.

[2019-09-10 22:19] coatless commented on #123
Closed in #126 and #123

[2019-09-10 22:19] #123 closed

[2019-09-12 01:04] conradsnicta commented on #132
I think the underlying problem is that the test suite is compiled without optimisation (ie. sans -O2), so once it's built it takes forever to run.

[2019-09-16 19:59] zoq commented on #132
@barak Is it possible to manually test against a branch, e.g. https://github.com/mlpack/ensmallen/pull/135?

[2019-09-19 13:48] barak commented on #132
I've heard rumours that it might be, but have not tried myself.

(Seriously, I can log into a development machine dedicated to porting to some architecture and give it a shot, especially if you tell me which architecture(s) you'd recommend.)

[2019-09-19 19:48] zoq commented on #132
Great, thanks. Any platform that timed out will do, e.g. i386 - Debian sid.

[2019-09-26 18:48] zoq commented on #132
@barak We just release ensmallen 2.10.3: https://github.com/mlpack/ensmallen/releases/tag/2.10.3 hopefully that will  fix the issue you reported above.

[2019-09-27 13:01] barak commented on #132
Uploaded the 2.10.3, and the autobuilders encountered issues on some architectures. See https://buildd.debian.org/status/package.php?p=ensmallen which already shows problems on armel, s390x, hurd-i386. Lots of `void*` alignment warnings, not sure if those are relevant.

This is on armel:
[code]
This is on s360x:
[code]

[2019-09-27 14:46] barak commented on #132
Also i386
[code]

[2019-09-30 19:55] zoq commented on #132
Will see if I can reproduce the issue and open a PR.

[2019-10-21 16:38] rcurtin opened #139 "Collapsible code examples in documentation"
#### Problem location

The ensmallen documentation is full of big example programs like the one at the bottom of this section:
http://ensmallen.org/docs.html#differentiable-functions

#### Description of problem

These examples are kind of hard to scroll through when perusing the documentation.  It would be really cool if we had a way to make these collapsible.  The answer might actually be in the

[2019-10-21 17:01] coatless commented on #139
`markdown` lacks support for that. However, you can add in some custom js/css to collapse the code block.

Alternatively, you can also go the github approach with `details` and `summary` tags. c.f. https://gist.github.com/pierrejoubert73/902cc94d79424356a8d20be2b382e1ab

[code]

<details>
  <summary>Click to expand!</summary>

[code]

</details>

[2019-10-21 19:35] zoq commented on #139
I like the `details` and `summary` solution.

[2019-10-28 05:32] jeffin143 commented on #139
@zoq , @rcurtin If you are ok with @coatless  suggestion , I can handle it, Exam week ahead, Would probably work on this. :)

Or should we wait for some other ideas ?

[2019-10-28 13:13] rcurtin commented on #139
@jeffin143 that sounds fine to me if you want to do it. :+1:

[2019-10-28 13:15] zoq commented on #139
That would be great, excited to see the result.

[2019-10-31 02:13] rcurtin commented on #132
I had this issue while doing Fedora packaging also; some of the ensmallen tests are flaky.  I looked through the historical Jenkins builds and came up with these (semi-regular) failing tests:

`NesterovMomentumSGDSpeedUpTestFunction` - http://ci.mlpack.org/job/docker%20ensmallen%20nightly%20build/64/armadillo_version=armadillo-8.600.1,compiler_version=llvm-3.5.2-patch,label=docker/testReport/junit

[2019-11-20 05:52] yurivict opened #142 "Tests fail for ensmallen-2.10.4"
[code]

OS: FreeBSD

[2019-11-20 19:45] zoq commented on #142
Hello @yurivict I couldn't reproduce the issue on FreeBSD 11.2, can you share some more information about your setup, OS, clang, armadillo version. Also does `./ensmallen_tests -s -r console` show any intermediate results?

[2019-11-20 21:55] yurivict commented on #142
I added the port for ensmallen yesterday, so if you would just type ```cd /usr/ports/math/ensmallen &&  make test``` it should reproduce the problem.

[2019-11-20 22:27] rcurtin commented on #142
If you can run with `CTEST_OUTPUT_ON_FAILURE=1 ctest` that would be really helpful too.  ensmallen has some random tests.  We try to keep the random failure probability really low, but we're not always successful, so if you can show us which test failed we can figure out if it's random or an actual problem.

[2019-11-21 20:22] yurivict commented on #142
It passes now when I added ```CTEST_OUTPUT_ON_FAILURE=1```

[2019-11-22 02:09] yurivict commented on #142
I added this patch to the FreeBSD port to work around this issue:
[code]

[2019-11-26 18:52] zoq commented on #142
Hm, is this the correct patch? This code isn't part of ensmallen, maybe I missed something?

[2019-11-28 15:28] rcurtin commented on #139
Since #140 is merged, I think we can close this. :+1:

[2019-11-28 15:28] #139 closed

[2019-12-06 07:14] barak commented on #142
Even with the "ten billion" issue fixed, I'm getting build failures on some 32-bit architectures. This is Debian version `2.10.4-2` (the `-2` includes the ten billion patch).

https://buildd.debian.org/status/package.php?p=ensmallen

On armel it times out.

On i386
[code]

[2019-12-06 08:07] conradsnicta commented on #142
SLASCL is from LAPACK. ensmallen uses LAPACK indirectly via Armadillo. However, no function in Armadillo directly calls SLASCL. This suggests that another function in LAPACK (used by Armadillo) calls SLASCL, which in turn suggests the problem is with LAPACK.

About 6 months ago there was a very messy issue with Fortran "hidden" arguments (which affects a lot of software using LAPACK), but that was

[2019-12-06 12:04] barak commented on #142
That sounds plausible, @conradsnicta. But Debian lapack was recompiled just two weeks ago: https://tracker.debian.org/pkg/lapack

Maybe they don't have the issue under as much control as they thought.

Another possibility is `libarmadillo`, which actually has a bug filed against it for an architecture-specific header issue breaking `mlpack` on `hppa`: https://bugs.debian.org/912778

[2019-12-07 03:16] #132 closed

[2019-12-07 15:18] conradsnicta commented on #142
@barak To be clear - by libarmadillo do you mean all of armadillo, or only the armadillo run-time library?  https://bugs.debian.org/912778 doesn't seem related to the armadillo run-time library (libarmadillo.so). The error comes from armadillo headers (99% of armadillo is in header files), but I suspect it's a compiler bug on hppa.

hppa appears to be a rather obscure and outdated architecture. If

[2019-12-07 16:53] barak commented on #142
Regarding why Debian keep the hppa port going, well it's not an official Debian release architecture, it's just some hppa enthusiasts. (The official ones are the top nine listed on https://buildd.debian.org/status/package.php?p=ensmallen with white background; the remainder with gray background are just for fun.) So hppa won't hold up package migration into the stable distribution. But weird archi

[2019-12-08 21:21] ElianeBriand opened #144 "DE: need for DecomposableFunction not stated in documentation"
#### Description of problem

The differential evolution algorithm is documented as needing an arbitrary function, both in the function type and optimizer section of the documentation.

However, using the code in the master branch (commit 9b730c7), the DE algorithm need a NonDifferentiableDecomposableFunctionType according to the static_assert error message.

In addition to the discrepancy between

[2019-12-10 06:08] rcurtin commented on #144
Hey @ElianeBriand, thanks for the clear bug report---it made my job easy.  It turns out DE actually should work with arbitrary functions, not arbitrary separable functions.  So I fixed the check in that code.

Also, you are right, we should definitely have documentation whose terms match the error messages.  That was an artifact from early ensmallen development when we hadn't settled on the terms

[2019-12-10 07:04] ElianeBriand commented on #144
Thanks for the fix. And thanks for maintaining this library, it's really one of the best and easier to user optimization libs available in C++.

[2019-12-10 15:05] aabghari opened #146 "using std namespace in header files"
#### Issue description

There are several header files with `using namespace std;`. This is a bad practise because it pollutes the application namespace when including those header files in your application.
Here is the list of the header files with such a definition:

ensmallen_bits/problems/ackley_function_impl.hpp
ensmallen_bits/problems/beale_function_impl.hpp
ensmallen_bits/problems/cross_in_

[2019-12-10 16:03] rcurtin commented on #144
Great to hear that, thanks! :+1:

[2019-12-10 17:58] rcurtin commented on #146
You're right, that's a significant issue.  I opened a PR in #147 to fix the issue.  Thanks for the report!

[2019-12-11 22:00] #146 closed

[2019-12-11 22:01] zoq commented on #146
Fixed in https://github.com/mlpack/ensmallen/pull/147.

[2019-12-13 18:08] rcurtin commented on #144
I released ensmallen 2.10.5 today with these documentation fixes.  Thanks again for the report!

[2019-12-13 18:08] #144 closed

[2019-12-24 02:20] rcurtin opened #150 "Better output when convergence check succeeds"
#### Issue description

When using callbacks like `ens::ProgessBar` or similar, and the optimization terminates partway through an epoch due to a convergence check, the output can be confusing:

[code]

but then output stops.

See the discussion at https://github.com/mlpack/mlpack/issues/2073 for many more details and how to reproduce.

#### Expected behavior

We should see if we can modify the `e

[2019-12-24 04:51] halo-rubinius opened #151 "Is it possible to add bounded L-BFGS method (L-BFGS-B)?"
For the bounded problem, the L-BFGS-B method is a good option, which has not been included in the library yet. while a Fortran version is out there ([Fortran code for L-BFGS-B](http://users.iems.northwestern.edu/~nocedal/lbfgsb.html)), is there any plan to implement the L-BFGS-B method in this library?

[2019-12-24 16:48] rcurtin commented on #151
Hey @halo-rubinius, this would definitely be something really nice to add!  We could implement L-BFGS-B as an optimizer that operates on constrained functions: http://ensmallen.org/docs.html#constrained-functions

I'll leave this issue open in case anyone would like to contribute L-BFGS-B (yourself included! :)) It seems likely that the existing L-BFGS code could be reused or adapted for this purp

[2020-01-02 16:05] barak commented on #142
Uploaded 2.11.1 to debian, and the autobuilders are still failing on a couple 32-bit architectures. Including two "release" architectures (i386 and armel) which will block migration of the package to release.

Details: https://buildd.debian.org/status/package.php?p=ensmallen click on the "Build-Attempted".

[2020-01-02 16:15] rcurtin commented on #142
Digging through the logs here are my takes:

armel: https://buildd.debian.org/status/fetch.php?pkg=ensmallen&arch=armel&ver=2.11.1-1&stamp=1577965836&raw=0
[code]
It's unclear to me whether tests hung or just didn't finish yet because armel is for toasters.  You could run ctest with various options to provide output during testing, and this might fix it.

i386: https://buildd.debian.org/status/fet

[2020-01-02 18:48] barak commented on #142
I'd say not worth worrying about the non-release architectures like HPPA. At least, not until release architectures are working.

My suspicion is that the armel timeout issue is a an actual test hang due to a bug related to the enormous spate of alignment warnings and such spewed out by the compiler.

Should I set `CTEST_OUTPUT_ON_FAILURE=1` in the build scripts? Unless it's crazy voluminous, I ca

[2020-01-02 19:03] rcurtin commented on #142
If you don't use ctest, you can get better output:

[code]

The order is deterministic, so if it hangs, we can track down pretty easily which one it is.

[2020-01-03 14:18] barak commented on #142
Okay, just uploaded something with that in debian/rules.

[2020-01-03 17:51] barak commented on #142
Okay, there's an i386 build failure with more info on https://buildd.debian.org/status/package.php?p=ensmallen, enjoy!
[code]

[2020-01-05 19:44] dB2510 commented on #73
@rcurtin I want to start contributing to mlpack. Can I start contributing from this issue?

[2020-01-07 03:17] rcurtin commented on #142
I can't seem to reproduce the `Johnson844LovaszThetaFMatSDP` issue on an `i386/debian:unstable` Docker container---has anyone else been able to reproduce that in an easy-to-work with environment?  I wonder if it has to do with versions of dependencies or something, but I would expect that I was doing the same thing as the Debian build.

If we can reproduce it then we can open an easy issue to work

[2020-01-07 17:34] barak commented on #142
The autobuilder blew its cookies in exactly the same way on both linux-i386 and hurd-i386, for whatever that's worth.

[2020-01-09 01:06] rcurtin commented on #142
Is there a way that I can reproduce the autobuilder environment exactly for either of those cases?

[2020-01-09 11:39] barak commented on #142
There's /supposed/ to be sufficient information in the logs to know the precise version (in the debian sense, so that means a unique binary package) of everything, and an exhaustive list of all installed packages. So in theory, you should be able to go into a chroot environment and install exactly the same stuff.

[2020-01-10 07:06] vikram2000b commented on #150
I would like to take up this issue.

[2020-01-10 14:59] rcurtin commented on #150
Hi @vikram2000b, you're more than welcome to.  When you have a PR ready, someone will review it when they're able to. :+1:

[2020-01-22 07:56] dangulod opened #163 "Linker error"
Hi,

I was testint how the library works on Windows with Microsoft Visual Studio 2017. I compile every library manually: armadillo 9.8 and openblas 0.3.7 according to the documentation.

However, when i build a simple example:

[code]

Moreover, I have linked `armadillo.lib`, `openblas.lib` and `lapack.lib`. Unfourtunately, I get two linker error:

[code]

I imagine that I am not building somethin

[2020-01-22 21:00] zoq commented on #163
Looking at https://github.com/mlpack/ensmallen/pull/158/files it should be possible to use ensmallen on Windows, can you check the build steps used in the config and also provide some more information, e.g. command line you used to build each?

[2020-01-23 07:54] dangulod commented on #163
Hi zoq,

Thank you for your reply. I have just solved the linker error by using the link you provided. Instead of build OpenBlas, I used nugget to download OpenBLAS.0.2.14.1 and then link to it,

However, I do not know if I was not building OpenBLAS properly or there is some kind of incompatibilities.

Regards

[2020-01-23 23:36] zoq commented on #163
Great that you could solve the issue, difficult to tell what went wrong, maybe some missing flag, I'll see if I can reproduce the issue at some point.

Should we close the issue?

[2020-01-24 07:30] dangulod commented on #163
Yes, you can close the issue.

Maybe a missing flag or some kind of incompatibility. Thank you for your help.

[2020-01-26 05:37] dB2510 commented on #150
Can take up this issue as there is no PR yet?
I am a beginner and I want to explore how this works.

[2020-01-26 05:38] dB2510 commented on #150
Can I take up this issue as there is no PR yet?
I am a beginner and I want to explore how this works.

[2020-01-26 19:23] zoq commented on #150
@dB2510 I think that is reasonable, @vikram2000b are you fine with that?

[2020-01-26 19:24] zoq commented on #163
Okay, we can always reopen this one if there are any updates.

[2020-01-26 19:24] #163 closed

[2020-01-28 17:05] dB2510 commented on #150
@zoq Any idea how can I reproduce the issue mentioned here https://github.com/mlpack/mlpack/issues/2073 ?

[2020-01-30 02:18] rcurtin commented on #150
@dB2510 there is some code in that issue that you can directly compile and use in a program to reproduce the issue.  You will probably have to find some datasets to use to reproduce the issue, but that shouldn't be hard---you can probably use some of the datasets in `src/mlpack/tests/data/` or something like that.

[2020-02-08 18:59] barak commented on #142
Just to put it out there, this issue is blocking progression of the package in Debian towards the release, which is in turn blocking the mlpack library's progression. Open to any advice: I could disable testing, I could restrict the architecture to a whitelist, I could blacklist some problematic architectures. But the fact that plain old i386 is having problems makes me loath to do any of that, at

[2020-02-08 20:27] rcurtin commented on #142
I'd love to fix it but I don't have enough information to reproduce---I don't have time to read through the Debian docs to figure out exactly how to reproduce the environment (I'd love to, really! There is just too much other stuff).  And I can't reproduce the issue otherwise on i386 containers, even with different random seeds.

Honestly? I'd consider just disabling that particular test with `ens

[2020-02-09 02:24] yurivict commented on #142
Tests currently pass n FreeBSD fine.v

[2020-02-18 03:01] birm opened #168 "add the jenkins valgrind memory checker"
Since we aren't monitoring memory now, we recently had a memory leak (#167). It's probably a good idea to copy the mlpack [valgrind ci test](http://ci.mlpack.org/job/pull-requests%20mlpack%20memory/)  to the ensmallen repo too.

[2020-02-19 11:44] gaurav-singh1998 commented on #168
Hi, @birm I would like to take up this issue. Can you guide me on how to move forward with it?

[2020-02-19 17:51] birm commented on #168
I'm not sure this is a great first issue, in that it can't be finished without configuring the jenkins server directly. Though, I suppose you could add it to travis or something similar as a second part of the test.

If you still want to work on it. I'd recommend setting up CI testing on your fork and having it run valgrind somehow. Some of the code used by jenkins to memory check mlpack is [here]

[2020-02-20 11:55] gaurav-singh1998 commented on #168
@birm, Thanks for replying I will move forward with this issue and will message you here if anything is required. Is it okay?

[2020-02-21 03:14] rcurtin commented on #168
Yeah, I think this is one that only Jenkins admins can do, unfortunately.

[2020-02-21 03:20] gaurav-singh1998 commented on #168
Okay, @rcurtin so I guess I should leave this and look at other issues to solve?

[2020-02-21 03:31] rcurtin commented on #168
@gaurav-singh1998 yeah, try other issues.  I think I may have just set this up correctly on http://ci.mlpack.org/ but we'll see as time goes on. :+1:  I'll close this issue once it works right. :)

[2020-02-23 16:56] gaurav-singh1998 commented on #150
Hey, @rcurtin wanted to know if this has been solved if not then can I move forward with it?

[2020-02-23 20:15] rcurtin commented on #150
@gaurav-singh1998 I have yet to see any PR related to the issue, so yes, if you can solve the issue, please do. :+1:

[2020-02-28 15:11] kartikdutt18 opened #173 "Addition of maxEpochs to Early Stop at Min Loss"
Hi everyone, I was training an LSTM using mlpack. A portion of the code is given below:

[code]
The model converges at a local minima if patience is very but overfits with a patience of 100. I was wondering if there was a way to terminate it after say 100th epoch irrespective of whether it reached a minima.
This way we could avoid using `for loops` altogether.
I was trying to find a solution such

[2020-02-28 15:20] rcurtin commented on #173
Hmm, could you set `optimizer.MaxIterations()` to `trainX.n_cols * 100`?  Or maybe I overlooked something?

[2020-02-28 15:23] shrit commented on #173
Interesting, I think you are using `ens::EarlyStopAtMinLoss(100)` on the training set, and not on the validation set, If it is the case, I think this is the reason for overfitting in this case. We have discussed this is in https://github.com/mlpack/mlpack/issues/2185 and I have an open pull request in https://github.com/mlpack/ensmallen/pull/165

However, I think fixing the size of epochs is a goo

[2020-02-28 15:41] kartikdutt18 commented on #173
Yes, I was using it on training set that's why it was overfitting.

Sorry I missed such an obvious thing and thanks for quick reply.
This really helped so I'm closing this issue.
Thanks.

[2020-02-28 15:41] #173 closed

[2020-03-04 19:17] say4n opened #176 "Add more multi-objective optimizers!"
PR #149 implements the NSGA2 optimizer, this issue is a prompt to add other multi-objective optimizers like:
- [ ] [Directed Search Domain](http://personalpages.manchester.ac.uk/staff/S.Utyuzhnikov/Papers/DSDreprint.pdf)
- [ ] [Successive Pareto Optimization](https://doi.org/10.1137%2F080729013)
- [ ] [PGEN](https://doi.org/10.1118%2F1.2335486)
etc.

More information on the various methods of mult

[2020-03-08 15:28] gaurav-singh1998 commented on #150
Hi, @rcurtin while I was going through the callback code base while trying to solve this issue I came across this piece of code in **callbacks.hpp** which invokes all the `BeginOptimization()` callback if it exists i.e.
[code]
It can be found [here](https://github.com/mlpack/ensmallen/blob/master/include/ensmallen_bits/callbacks/callbacks.hpp#L111). Kindly help me to understand how this works. Tha

[2020-03-08 15:54] gaurav-singh1998 commented on #150
Hi, @rcurtin @zoq while I was through the callback codebase trying to understand it for solving this issue I came across the piece of code given below which iterates over the callbacks and invoke the `BeginOptimization()` callback if it exists
[code]
I am having a hard time understanding how does this work. Please help understand the underlying concepts behind this. Thanks.

[2020-03-08 17:13] gaurav-singh1998 commented on #150
@rcurtin @zoq one more thing, sorry if I irritate you but your help would be very helpful for moving forward with this issue. According to the discussion which happened [here](https://github.com/mlpack/mlpack/issues/2073), the optimization terminates partway because of the `overallObjective` value reaching `nan` or `inf` or because of `std::abs(lastObjective - overallObjective) < tolerance` or bec

[2020-03-09 13:11] rcurtin commented on #150
Hey @gaurav-singh1998, the bit of code in `BeginOptimization()` terminates the optimization after a callback returns `false`.  We actually just submitted a paper to arXiv today that describes the details; you can find the sources in https://www.github.com/mlpack/ensmallen_tr/, and it will be up on arXiv soon.

I would suggest finding a way to make it so that `ProgressBar` can realize when optimiza

[2020-03-09 16:05] gaurav-singh1998 commented on #150
Thanks, @rcurtin for the clarification I will try to solve this issue in the next few days.

[2020-03-10 19:05] gaurav-singh1998 commented on #150
Hi, @rcurtin while I was going through the `ProgressBar` code I found that the number of epochs is defined as `epochs = optimizer.MaxIterations() / epochSize` but shouldn't it be `epochs = optimizer.MaxIterations() / function.NumFunctions()`. I am saying this because if we were to consider, as an example, suppose there are `120000` data points in a dataset and `MaxIterations()` parameter of the op

[2020-03-11 12:44] rcurtin commented on #150
`epochSize` is defined as `function.NumFunctions() * optimizer.BatchSize()`.  Thus effectively `epochSize` is equivalent to the number of times the `StepTaken()` callback is called.

It does seem to me like `epochs` should then be defined to account for the value of `optimizer.BatchSize()`, so perhaps there is an issue there.

However, I'm not familiar enough with the code to say for sure.  Before

[2020-03-11 18:49] gaurav-singh1998 commented on #150
Hi, @rcurtin @zoq @shrit according to the discussion that happened [here](https://github.com/mlpack/mlpack/issues/2073) I recreated the issue, the code regarding it can be found [here](https://ideone.com/oI4sQs). The dimensions of the dataset I used was `[120000, 23]` (considering the row-major matrix). After compiling and executing it the output I got was,
[code]

As it can be seen that not a sin

[2020-03-11 20:44] shrit commented on #150
@gaurav-singh1998 I do not think that the optimizer has converged in your case, but this is only because you have set `optimizer.Tolerance() = -1`. So the optimizer will never converge in this case.
I will try to clarify things as I understand. Actually, the objective of this issue is to give us a better output **only** in the case when the optimizer converges. Therefore, It might be a good idea t

[2020-03-11 22:25] gaurav-singh1998 commented on #150
Hi, @shrit thanks for commenting as suggested by you I changed the `optimizer.Tolerance()` value to be `120596` and let the optimizer run for three epochs until it got converged this was the output,
[code]
As it can be seen that there is no message that states the optimizer has converged which should've got printed according to [this](https://github.com/mlpack/ensmallen/blob/master/include/ensmall

[2020-03-11 22:47] shrit commented on #150
@gaurav-singh1998 I do not remember if `ens::info` macros are ON by default in cmake. If not maybe you need to add `option(ENS_PRINT_INFO ON)` in your CMakeList file

[2020-03-12 15:20] barak commented on #142
Okay I'll try to upload see what happens!

[2020-03-12 17:09] barak commented on #142
Gah! Uploaded 2.11.5, see https://buildd.debian.org/status/package.php?p=ensmallen
[code]

[2020-03-12 17:46] rcurtin commented on #142
So, I get that this test is failing and I would be happy to work on the issue, except I can't reproduce it.  My suggestion would be to not hold up the package on it, and either disable the i386 architecture (probably overkill), or simply disable that failing test.  I have a strong feeling it's not indicative of anything that's actually wrong.  What do you think?

[2020-03-13 08:03] barak commented on #142
I'm going to set it to still run the tests, but to not abort the build if they fail **on i386**. That way we can still see any test failures, but we'll get a built package and can try to diagnose the issue more directly, like using the package as built in a chroot and such.

[2020-03-13 11:44] rcurtin commented on #142
:+1: that sounds good to me.  I'm sorry that I can't be more helpful on this (I hate not being able to solve an issue).  And yeah, if for instance I could use the package in a chroot or something, perhaps I could be able to reproduce the failure.  At least it is worth a shot. :)

[2020-03-13 15:00] gaurav-singh1998 opened #178 "Bugs in the progress bar output."
#### Issue description
There are certain bugs in the progress bar callback output which needs attention.

#### Your environment

 * version of ensmallen: 2.11.4
 * operating system: Ubuntu 18.04
 * compiler: gcc 7.4.0
 * version of Armadillo: 9.800.3

#### Steps to reproduce

I ran a mlpack ffn model for three epochs with the progress bar callback incorporated on a dummy dataset the output I got w

[2020-03-13 17:10] barak commented on #142
https://buildd.debian.org/status/package.php?p=ensmallen shows the hurd-i386 build succeeding, the log shows a failed test, so soon we'll have a linux-i386 build and can test it on any chroot debian i386. If you have a debian box, I can walk you through setting up an appropriate chroot - it's pretty much just a matter of installing the right packages, one command to create the chroot, and another

[2020-03-13 17:55] sriramsk1999 opened #179 "Addition of SLIDE algorithm"
[moved from https://github.com/mlpack/mlpack/issues/2290 as it's better suited here.]

I came across this [article](https://insidehpc.com/2020/03/slide-algorithm-for-training-deep-neural-nets-faster-on-cpus-than-gpus/) and found it quite intriguing. I went through the paper and the results seem promising.

It occurs to me that mlpack could make good use of this, since OpenMP is already being used

[2020-03-13 18:08] sriramsk1999 commented on #179
In addition, what might the final API look like? If I'm not wrong, currently an ensmallen optimizer is something like:

`  SGD<AdamUpdate> optimizer(
    5e-2,
    1,
    0,
    1e-5,
    false,
    AdamUpdate(1e-8, 0.9, 0.999));
`
where the underlying operation is backpropagation through matrix multiplication.

And if my understanding of the paper is correct, this algorithm will be replacing the

[2020-03-13 19:04] gaurav-singh1998 commented on #150
Hi, @shrit sorry to respond late but when I made the changes in [this](https://github.com/mlpack/ensmallen/blob/d15772b26810861dee5bc528bf79fc10b7db0dbe/include/ensmallen_bits/config.hpp#L14) line to make the `ENS_PRINT_INFO` defined as suggested by @zoq on Gitter I got a more enriched result i.e.
[code]
Although the first line, `Maximum number of iterations not defined (no limit), no progress bar

[2020-03-13 21:00] gaurav-singh1998 commented on #151
Hi, @rcurtin I would like to implement this to get a better understanding of the codebase. Should I move forward with it?

[2020-03-15 18:52] gaurav-singh1998 commented on #150
Hi, @shrit kindly have a look at #180. Thanks.

[2020-03-16 20:53] zoq commented on #179
Are you talking about SLIDE, or ensmallen?

[2020-03-17 03:49] sriramsk1999 commented on #179
Hi @zoq , I am talking about ensmallen. Currently it optimizes using `backpropagation through matrix multiplication` correct?

[2020-03-18 14:24] codeboy5 opened #182 "SimpleAdaDeltaTestFunctionFMat Failing"
#### Steps to reproduce

Just Run The Ensmallen Test Suite

#### Expected behavior

The Test Should Pass.

#### Actual behavior

<img width="747" alt="Screenshot 2020-03-18 at 7 52 29 PM" src="https://user-images.githubusercontent.com/40931412/76970507-01674000-6952-11ea-9041-6fbd0e5003ef.png">

I would like to work on this issue, if everyone is experiencing this.

[2020-03-21 13:40] zoq commented on #182
Often this is because we don't use enough iterations or use a to small step size. What we often do is uncomment:
https://github.com/mlpack/ensmallen/blob/3cb382767108886e942d50d961815bc6310a329a/tests/main.cpp#L20-L27

and run the test for multiple iterations, https://github.com/mlpack/mlpack/issues/922 does have some more information. Maybe you can do that and figure out how often the test fails?

[2020-03-21 13:48] codeboy5 commented on #182
Okay, that sounds good.I will try that.

[2020-03-21 14:01] zoq commented on #179
No, ensmallen doesn't depend on backpropagation take a look at https://arxiv.org/abs/2003.04103 this should clarify the concepts of ensmallen.

[2020-03-21 14:59] sriramsk1999 commented on #179
Thanks for the paper @zoq, it's quite interesting and cleared up my questions about the working of ensmallen.

I had another look at the SLIDE paper as well, and I noticed that I had missed something very important in my first pass. The optimization in traditional deep learning and in using SLIDE is the same.

What SLIDE brings to the table is a  *different*  method of training the network, traini

[2020-03-22 19:43] jwdinius opened #184 "PrimalDualSolver states arma::mat deprecated type to be removed in 2.10.0, but still present in 2.11.5"
#### Problem location
https://github.com/mlpack/ensmallen/blob/2.11.5/include/ensmallen_bits/sdp/primal_dual.hpp

#### Description of problem

The comments below indicate the interface should have been removed by now. (2.11.5 > 2.10.0)
[code]

The documentation should be updated to reflect when the interface will actually be deprecated.

[2020-03-22 20:57] birm commented on #184
It looks like we should remove it then.

[2020-03-22 21:06] jwdinius commented on #184
It looks like removal will break the sdp unit tests.  Maybe add `-Wdeprecated-declarations` to catch this type-of thing when building tests?

[2020-03-23 14:33] #168 closed

[2020-03-23 14:42] rcurtin commented on #168
Ah, I'd forgotten close this, thanks @birm. :+1:

[2020-03-24 01:58] rcurtin commented on #184
Ack, I think that we failed on this one.  Should have opened an issue and tacked it onto a 2.10.0 milestone or something.

Anyway, I think this is a good issue for someone new who's looking to contribute.  But, this will break reverse compatibility, so we'll have to release 2.12.0 as a change.  Basically the task is to remove the deprecated template parameter to `PrimalDualSolver`, remove the `ens

[2020-03-24 02:06] rcurtin commented on #142
Yeah, I'm a Debian user, so if you have a handful of commands I can try, I'd be happy to give it a shot. :+1:

[2020-03-24 03:09] jwdinius commented on #184
I'll give it a whack tomorrow or Wednesday.  I'm looking to use the interface anyways.  :)

[2020-03-24 08:29] barak commented on #142
# In a Nutshell
[code]
now you're set up to
[code]
might want to periodically update, if you want the latest compiler etc
[code]
For more details, and a laundry list of ways to speed up particular usages, set up caching, etc, see https://wiki.debian.org/git-pbuilder

[2020-03-28 16:11] #184 closed

[2020-04-16 18:26] #178 closed

[2020-04-23 20:12] barak commented on #142
Okay, I hot-wired the build scripts to ignore test errors on i386. Well now they're popping up on armel, armhf, and mipsel as well. This is for 2.12.1, see https://buildd.debian.org/status/package.php?p=ensmallen

[2020-04-27 15:49] #179 closed

[2020-05-13 18:46] JJR1234 opened #199 "Constrained function optimization failed"
#### Issue description
I'm trying to optimize a simple quadratic function (x-beta)^2 with simple constraints: beta(0) > 0. And, I used the ens::AugLagrangian optimizer for that, but the results produce NaN.

#### Your environment

 * version of ensmallen: ensmallen 2.12.1
 * operating system: Mac
 * compiler: Xcode/c++
 * version of Armadillo: Armadillo 9.870.2
 * any other environment information

[2020-06-16 09:47] kartikdutt18 opened #200 "Adding Print Metric Callback."
This issue aims to implement print metric function i.e. prints output of model for a given metric.
TODO:
Add tests.
Current implementation in models repo :
[code]

[2020-06-17 22:59] rcurtin commented on #199
Hey @JJR1234, I'm really sorry this has taken so long to respond to.  It's been hard for me to find the time lately.  I'm able to reproduce your issue, so I will try to keep digging in here and find out what might be going on.  I know that the augmented Lagrangian algorithm can sometimes be hard to tune.

[2020-06-17 23:31] rcurtin commented on #199
Ok... I managed to make the code work but I had to modify it in a few ways:

[code]

I'm just going to write now what I had to do to make this work, and then tomorrow I'll figure out the right way to actually fix these things:

 - The initial point you were using is actually the optimum.  I changed the code to *not* start from the optimum (it now starts from `[-1 -1; -1 -1]`), because it appears L

[2020-06-18 01:56] JJR1234 commented on #199
@rcurtin This is great and very helpful. Thank you so much!

[2020-06-18 18:21] zoq commented on #200
Thanks, I think the models or the mlpack repo is the best place for this code, since this is highly related with the mlpack metric implementation, and ensmallen doesn't know anything about how the metric interface looks like.

[2020-06-18 18:23] kartikdutt18 commented on #200
Ahh makes sense, So I guess I should close this then.

[2020-06-18 18:23] #200 closed

[2020-06-23 00:20] rcurtin commented on #199
I opened ensmallen#201 to fix the issue.  Thanks again for the report! :+1:

[2020-07-10 16:19] UtR491 commented on #176
I would like to try implement [MOEA/D](https://ieeexplore.ieee.org/document/4358754), nobody is on it right? Or is there something more important which can (or has to) be implemented first?

[2020-07-25 17:18] kilasuelika opened #208 "Use Eigen as backend instead of armadillo."
I want to use template library **Eigen** as backend. I think it's necessary to modify source. How can I start?

[2020-07-26 14:44] rcurtin commented on #208
Hi @kilasuelika, this would actually be a very seriously involved task.  ensmallen is written for Armadillo or for other linear algebra libraries that implement Armadillo's API.  I really wouldn't recommend doing that.

Instead, if you have an Eigen matrix and you want to use ensmallen, you may be better suited by making an Armadillo matrix that is an alias of the Eigen matrix's memory.  Here is a

[2020-07-26 18:06] kilasuelika commented on #208
Thank you so much. I like Eigen because it's a template library so that I can use it directly on my SoC without an OS. I have created a fork [ensmallen-eigen](https://github.com/kilasuelika/ensmallen-eigen). It looks like that there are 3 tasks to achieve my goal:
1. Remove checks  on function API for simplicity such as `CheckFunctionTypeAPI`, `RequireFloatingPointType`.
2. Rewrite `MatTypeTraits`

[2020-07-26 19:01] kilasuelika commented on #208
I have a question that whether `function.hpp` and `function/*.hpp` really play a role in optimization process. Can I just remove them totally?

[2020-07-26 19:46] zoq commented on #199
WIth #201 merged let's close this one. If you have any other issue don't hesitate to open another issue.

[2020-07-26 19:46] #199 closed

[2020-07-26 21:52] rcurtin commented on #208
This is such a huge refactoring that I can't really assist in saying exactly what needs to be done.  It basically boils down to a whole rewrite of the entire library.

I'd really urge you to consider whether you can just use Armadillo for your task instead of Eigen, or at least an Eigen matrix wrapped in Armadillo.  Note that you don't need to link against LAPACK or BLAS if the optimization techni

[2020-07-27 02:51] kilasuelika commented on #208
Thank you. I will consider your advice.

[2020-07-27 02:52] #208 closed

[2020-07-27 04:39] conradsnicta commented on #208
@kilasuelika Armadillo can be used as a pure template library as well. Compile your code with the macros `ARMA_DONT_USE_BLAS` and `ARMA_DONT_USE_LAPACK` enabled. Example:

    g++ prog.cpp -o prog -O3 -DARMA_DONT_USE_BLAS -DARMA_DONT_USE_LAPACK -I/home/blah/armadillo-9.900.2/include

change `/home/blah/armadillo-9.900.2/include` to wherever you have unpacked the armadillo archive.

Alternatively,

[2020-07-27 06:08] brightprogrammer opened #209 "number of iterations parameter in optimizers"
Hello, I am training a cnn for mnist digit classification in mlpack and I am using `ens::Adam` optimizer for that.

https://github.com/mlpack/examples/blob/master/mnist_cnn/mnist_cnn.cpp

In the above example, the number of max iterations is set to 0. When I set it to some other value the program pauses and stops running... I make sure that `MAX_ITERATIONS` is an integral multiple of number of ite

[2020-07-27 23:42] #209 closed

[2020-07-29 17:12] kilasuelika commented on #208
Wow it's really good. Thank you so much!

[2020-08-02 23:36] AlexPars opened #212 "Python bindings for ensmallen?"
Could you please clarify whether there are Python bindings for ensmallen, along the same lines as RCppEnsmallen for R?
While I have looked for such a Python package, I could not locate it.

[2020-08-03 11:49] zoq commented on #212
Hello @AlexPars there are no Python bindings for ensmallen, however you could use mlpack which provides Python bindings and internally uses ensmallen.

It should be possible to adapt the mlpack bindings functionality for ensmallen as well, but there are no plans yet.

[2020-08-04 10:13] conradsnicta commented on #212
@AlexPars You may want to look at the [carma](https://github.com/RUrlus/carma) project which provides links between Python and [Armadillo](http://arma.sourceforge.net) (the linalg library used by ensmallen), and the [example code](https://github.com/smrfeld/speed-up-python-with-carma) of how to use carma to speed up Python by interfacing with Armadillo-based C++ code.  With that you can indirectly

[2020-08-04 10:16] conradsnicta commented on #212
@AlexPars You may want to look at the [carma](https://github.com/RUrlus/carma) project which provides links between Python and [Armadillo](http://arma.sourceforge.net) (the linalg library used by ensmallen), and the [example code](https://github.com/smrfeld/speed-up-python-with-carma) of how to use carma to speed up Python by interfacing with Armadillo-based C++ code.  With that you can indirectly

[2020-08-04 14:05] AlexPars commented on #212
Thank you for mentioning carma. It appears then that, as of now, I can only call ensmallen indirectly

[2020-08-04 20:54] rcurtin commented on #212
For efficiency, ensmallen uses template metaprogramming techniques.  Part of this efficiency comes from the fact that the objective function is also implemented in C++.  So, if we were to provide a Python interface to ensmallen, I'm not sure how we could keep that efficiency in place; the only way I know that we could do this so that a user could specify an objective function in Python is to pass

[2020-08-12 01:46] rcurtin commented on #142
Hi @barak, thank you so much for those directions.  I know it took a long time... but I finally got around to using them!  And I was able to (after some fighting) reproduce the issue, and then debug it.  I opened #217, and once that is merged, I believe that this issue will be fixed and you can remove the bit of code in packaging that ignores the failed tests. :)

Do you have an easy way to test w

[2020-08-12 13:57] barak commented on #142
It's possible to test on architectures w/o uploading a new version, but it's a hassle. I find it easier to just toss it up on the wall and see if it sticks.

[2020-08-12 14:15] rcurtin commented on #142
No worries---I already tested using the environment created by pbuilder, so I think at least the i386 issue should be fixed.  It may or may not fix everything else; we'll see.  If there are more failures, I'll just address them in follow-up PRs. :+1:

[2020-08-13 08:16] barak commented on #142
I removed the ignore-testing-error stuff and it seems to build okay everywhere!

[2020-08-17 22:37] rcurtin commented on #142
Awesome!  I think we can go ahead and close this issue then.  If you have further issues, please, feel free to open another issue. :)

[2020-08-17 22:37] rcurtin commented on #142
The thought processes are not moving as fast as the fingers.  I hit the buttom where "close and comment" usually is, without noticing that the issue was already closed.  So now I'll re-close it. :smile:

[2020-08-17 22:37] #142 closed

[2020-08-19 09:42] barak commented on #142
Yeah, that's why cars have a single pedal which controls the gas or the brakes on alternate depressions. Also weapons systems have a half red / half green button labeled "initiate / cancel global thermonuclear strike (🙭/🙯)".

[2020-08-22 00:00] coatless opened #222 "HISTORY.md version update not included in the tag build"
Hi all,

I'm working on automating a PR based on an upstream change in `ensmallen`'s codebase (c.f. coatless/rcppensmallen#30). One part that I noticed is the `.tar.gz` made available under the release tag does not include the appropriate `HISTORY.md` version update.

For instance:

https://raw.githubusercontent.com/mlpack/ensmallen/2.14.1/HISTORY.md

Gives:

[code]

Only in a later commit is the

[2020-08-24 16:46] coatless commented on #222
@rcurtin I didn't realize but the version information propagation into `ens_version.hpp` is also broke. The tagged build shows 2.14.0 -- not v2.14.1.

Tagged version: https://github.com/mlpack/ensmallen/blob/2.14.1/include/ensmallen_bits/ens_version.hpp#L15-L19

[code]

Later version:

https://github.com/mlpack/ensmallen/blob/9d3fc459ce34eefd969dc0843d55c619b13e4b6e/include/ensmallen_bits/ens_vers

[2020-08-24 17:55] rcurtin commented on #222
Exactly, the mlpack-bot release is using `HEAD~2` when it should be using `HEAD~1` for the tagged release.  This is because there is no merge commit when a rebase is done, so I miscounted by one.  Next release hopefully it should be fixed---sorry for the inconvenience!  I'll leave this issue open until we can prove that the release is right. :)

[2020-09-03 07:15] yurivict opened #225 "2.14.1: Tests fail: REQUIRE( coordinates(1) == Approx(0.0f).margin(0.01) )"
[code]

OS: FreeBSD 12.1
clang-9

[2020-09-05 06:26] UtR491 commented on #225
I think you should take a look at #182.

[2020-09-05 15:27] coatless commented on #222
@rcurtin Thanks for fixing it! From the 2.14.2 release, the version information and history.md entries have been resolved. 🎉

https://github.com/mlpack/ensmallen/compare/2.14.2...master

[2020-09-05 15:27] #222 closed

[2020-09-10 22:33] #212 closed

[2020-09-18 21:23] zoq commented on #225
@yurivict any chance you can check if https://github.com/mlpack/ensmallen/issues/182 works in some cases, if that's the case I'm going to bump the number of iterations.

[2020-09-20 22:35] rcurtin commented on #225
@zoq I think bumping the iterations is the right thing to do here.  Let me know what you think; if you want, I can put together a PR, up to you. :+1:

[2020-09-28 03:38] Blakjak88 opened #227 "VCPKG Version Out of Date"
I installed ensmallen using vcpkg but discovered that the "upgraded" version is quite out of date.

vcpkg installs 2.11.2

Latest version is 2.14.2

I found this problem as I could not get my code to compile with EarlyStopAtMinLoss using a callback function. When I checked the header file there was no callback function constructor.

I manually changed the version number in my vcpkg CONTROL file bu

[2020-10-05 00:04] #182 closed

[2020-10-05 01:03] rcurtin commented on #225
Hey @yurivict, I believe this is fixed in #228.  So hopefully in the next ensmallen release you will not see this problem.  Thanks for the report! :+1:

[2020-10-05 01:03] #225 closed

[2020-10-05 01:40] rcurtin commented on #227
Hey @Blakjak88, thanks for the report.  I think maybe this should be reported to the vcpkg repository: https://github.com/microsoft/vcpkg

For instance, here's the issue where someone originally requested ensmallen to be added to vcpkg: https://github.com/microsoft/vcpkg/issues/5015

I've asked them to bump the version of mlpack before; they're typically pretty responsive and helpful. :+1:

[2020-10-10 03:57] alexhallam opened #229 "[Question] Nelder-Mead"
I am looking for a Nelder-Mead optimization implementation. I saw it mentioned here https://www.mlpack.org/papers/mlpack2011.pdf  I was hoping to get pointed in the right direction.

[2020-10-10 13:35] rcurtin commented on #229
Hey @alexhallam, various refactorings over the years meant that our Nelder-Mead implementation isn't actually a part of the library. :(  It would actually be pretty easy to implement, and so I'm tempted to just do it now, but I think I have too many things going on.  Maybe we should leave this issue open as a feature request?

[2020-10-12 03:10] Blakjak88 commented on #227
I reported it to VCPKG about a week ago. Not sure if it is updated yet.

[2020-10-12 11:31] rcurtin commented on #227
Thanks for doing that @Blakjak88! Do you have a link to the bug report? :+1:

[2020-10-12 12:45] alexhallam commented on #229
It looks like [nlopt](https://github.com/stevengj/nlopt) has a Nelder-Mead implimentation. I am not sure how much rework needs to be done or what the benifits are of using ensmallen over nlopt.

[2020-10-12 13:04] Blakjak88 commented on #227
@rcurtin  Here is the link to the mlpack update request.

https://github.com/microsoft/vcpkg/issues/13877

[2020-10-12 13:06] Blakjak88 commented on #227
@rcurtin  ... and here is the request for ensmallen update.

https://github.com/microsoft/vcpkg/issues/13879

[2020-10-12 15:31] zoq commented on #229
I haven't looked at nlopt so I can't comment about the pros at this point, but I have some time over the week and NM was on my list anyway, so I will give this a shot.

[2020-10-18 21:59] zoq commented on #229
Just opened https://github.com/mlpack/ensmallen/pull/231 which implements Nelder-Mead.

[2020-10-26 22:14] zoq opened #235 "conda R ensmallen package"
I'm trying to build mlpack with the R bindings enabled using conda, looks like there is are recent versions for all dependencies except ensmallen. There is an rcppensmallen package in the r_test channel (https://anaconda.org/r_test/r-rcppensmallen), but that one has a conflict with some of the other packages. So I guess we have two options open a PR for rcppensmallen on conda-forge or get it into

[2020-10-26 22:28] eddelbuettel commented on #235
I suppose. I can't say much more as I don't use Conda myself...

[2020-10-26 23:56] coatless commented on #235
@zoq the `r-test` channel looks like it stopped updating 10 months and 13 days ago?
https://anaconda.org/r_test

I think the `conda-forge` channel is probably where it needs to be added. That said, I'm not sure how to get `RcppEnsmallen` listed there.

[2020-10-27 12:17] zoq commented on #235
RIght, it's somewhat outdated.

Alright, I can open a PR on conda-forge.

[2020-10-27 18:19] zoq commented on #235
You are awesome.

[2020-11-01 16:38] coatless commented on #235
@zoq conda-forge/staged-recipes#13012 was merged in. Within the next 48 hours, it should hopefully propagate onto `conda-forge` channel:

https://anaconda.org/conda-forge/r-rcppensmallen

[2020-11-02 12:18] zoq commented on #235
Thanks a ton, it's already there.

[2020-11-02 12:18] #235 closed

[2020-11-04 22:36] coatless opened #240 "Release script missed updating version"
Looking at the release tag, the script didn't pass on the new name, version, and date information. 😭

https://github.com/mlpack/ensmallen/blob/6f07cab7f7e6f959fe51f12c9659b627901ba229/include/ensmallen_bits/ens_version.hpp#L15-L28

[2020-11-04 22:39] rcurtin commented on #240
I believe this is because the release PR might have been merged as a merge, not as a rebase?  @zoq do you remember how you did it?  (Anyway, when I look at the current master, the version has been changed correctly.  But most likely mlpack-bot chose to tag the wrong commit---it expects a rebase not a merge.)

[2020-11-04 22:53] coatless commented on #240
@rcurtin I think ensmallen.org also missed out on the update?

Is there a reason for preferring a rebase over a merge?

[2020-11-04 23:46] rcurtin commented on #240
It makes it a little easier to figure out which commit should be tagged.  With a merge commit, I have to choose which of the two parents of the merge to look back; with a rebase, I can just take the second-most-recent commit.  I'll look into the website issue.

[2020-11-04 23:50] rcurtin commented on #240
Website fixed---I had failed to restart mlpack-bot on the system that runs it after some changes.

[2020-11-05 10:55] zoq commented on #240
I thought I hit the rebase button, maybe I miss clicked, I guess good thing that we do a follow-up release that includes - https://github.com/mlpack/ensmallen/pull/239.

[2020-11-05 13:53] rcurtin commented on #240
Yep, just opened #241 now which will release 2.15.1.  The automation is cool but it is not perfect... yet. :smile:

[2020-11-05 17:20] rcurtin commented on #240
Alright, 2.15.1 released and the version looks correct. :+1:  I think I should update the mlpack-bot code to be able to handle merges too, but it's a little more tedious.  I'll see if I can find the time at some point.

[2020-11-05 17:20] #240 closed

[2020-11-14 08:42] yurivict opened #242 "ensmallen_tests crashes"
[code]

[code]

Version: 2.15.1
OS: FreeBSD 12.2

[2020-11-15 13:51] zoq commented on #242
I just tested ensmallen 2.15.1 on FreeBSD 12.1, without any issues, wondering if this a problem with another package, how did you build armadillo (I use the default settings so `/usr/ports/math/ensmallen, make`).

[2020-11-15 17:21] yurivict commented on #242
```armadillo``` is installed from a package.

eensmallen in installed from the port ```math/ensmallen```:
# cd /usr/ports/math/ensmallen && make test

Version 2.15.1

[2020-11-16 00:49] zoq commented on #242
Hm, so let me upgrade to 12.2.

[2020-11-18 13:44] #227 closed

[2020-11-24 23:44] #229 closed

[2020-12-08 11:13] BJWiley233 opened #243 "Issue with running ensmallen tests"
When trying to compile ensmallen I get issue that `lib/x86_64-linux-gnu/libarmadillo.so` needs `libhdf5.so.103`. This file is in my anaconda library and I can compile armadillo programs after setting `LD_LIBRARY_PATH=/home/user/anaconda3/lib` but cannot install ensmallen as tests fail. The only file in `lib/x86_64-linux-gnu` is `libhdf5_serial.so.103`. There is no `libhdf5.so.103`

[2020-12-08 12:04] BJWiley233 commented on #243
Seemed to install with running `make` in between calls `cmake .` and `sudo make install`.  Is this correct that we can to call `make`?  For armadillo it was just `cmake .` and `sudo make install`.  If so can you update the README?

[2020-12-08 21:27] zoq commented on #243
`make install` will run `make` first if that hasn't be done before, so it should be the same, wondering if that is a permission issue, since you call `make install` as root. Wondering if ensmallen is picking up another armadillo installation, do you have armadillo installed outside the conda env?

[2020-12-09 13:35] BJWiley233 commented on #243
I installed Armadillo headers from source.  The issue is that installing libhdf5-103 with ubuntu is that there is no libhdf5.so.103 file.  They seem to install to a `serial` folder with links to library names like `libhdf5_serial.so.103`.  Everything works fine now and running `make` before `make install` for ensmallen.  Only issue is my gcc compiler runs out of memory when installing mlpack but t

[2020-12-09 20:56] zoq commented on #243
I guess you installed armadillo using conda? Do you use the conda-forge channel?

[2020-12-09 22:21] BJWiley233 commented on #243
Sorry I meant to say I installed armadillo sources  with cmake and make install from the tar.gz on their website.  Then compiling works when setting ld library to the anaconda libhdf5.so.103 and their example compiles.

[2020-12-11 18:21] zoq commented on #243
To me it looks like the LD_LIBRARY_PATH is different between root and none root. I'll see if I can reproduce the issue, if I build armadillo from source.

[2020-12-11 19:22] BJWiley233 commented on #243
Another way I was able to make it work was to create a symbolic link for `libhdf5_serial.so.103` in the hdf5/serial/lib folder to the `libhdf5_serial.so.103` that gets installed with apt.  Then in `cmake` called for setting up build for armadillo was also pass those includes and libraries to -D.  As in `cmake -D HDF5_INCLUDE_DIRS=/usr/include/hdf5/serial -D HDF5_LIBRARIES=/usr/lib/x86_64-linux-gnu

[2020-12-16 01:39] yurivict commented on #242
Bot deterring ping.

[2020-12-22 22:16] shrit opened #244 "Epoch time does not show elapsed time for more than 59 seconds."
Hello everyone,

I have just noticed a small issue in the estimated time callback. I am training a neural network on a large dataset, the training time for each epoch is taking more than one minute, (several minutes per epoch).
My understanding is that at the end of each epoch the ETA callback prints the elapsed training time for each epoche. If this is the case, the printed time does not show the

[2020-12-23 13:53] zoq commented on #244
Thanks for the report, the issue is here:

https://github.com/mlpack/ensmallen/blob/cdfae670da608ef8498dee1e649f79f1d3279ef9/include/ensmallen_bits/callbacks/progress_bar.hpp#L221

I'll fix it.

[2020-12-30 12:45] ticksmas opened #245 "Linkink failed while testing and building"
The following error ocurred when I was compiling ensmallen using Ubuntu 20:

[code]

[2020-12-30 12:46] ticksmas commented on #245
I am not used to cmake. So, I couldn't find a way to properly fix it and contribute with the repo.

[2020-12-30 12:49] #245 closed

[2020-12-30 12:50] ticksmas commented on #245
This was closed because it is a duplicated issue: #243

[2021-01-01 15:39] zeph1yr commented on #244
Hello @zoq, Can I submit a pull request, looks like a good first issue. Thanks!

[2021-01-01 16:18] zoq commented on #244
Ahh, yes that would be awesome.

[2021-01-11 17:45] benmarchi opened #246 "Report callback fails when optimizer has no iterations"
#### Issue description

I'm using ensmallen via rcppEnsmallen. I've noticed this issue while using the L-BFGS solver. The issue is that the optimization process crashes my R session when the optimization quits without taking any steps while using the built-in report callback (likely due to bad initial parameter estimates). The optimizer does not crash the R session when the report callback is not

[2021-01-11 21:31] zoq commented on #246
The callback should run fine if the number of iterations is `<= 0`: https://github.com/mlpack/ensmallen/blob/cdfae670da608ef8498dee1e649f79f1d3279ef9/include/ensmallen_bits/callbacks/report.hpp#L120

Let's see if I can reproduce the issue somehow.

[2021-01-11 22:26] benmarchi commented on #246
There definitely could be something wrong on my end as well. I'll continue to play around to see if I can nail down the issue.

[2021-01-12 13:54] philipp-andelfinger opened #247 "Initial population generation in CNE"
CNE seems to generate the initial population by adding uniform noise to the initial guess, instead of Gaussian noise as stated in the comment.

https://github.com/mlpack/ensmallen/blob/master/include/ensmallen_bits/cne/cne_impl.hpp#L91

[code]

Possibly, the intended loop body is something like:

[code]

[2021-01-13 07:57] yurivict commented on #242
When I build ```armadillo``` with ```CMAKE_BUILD_TYPE=Debug``` - ```ensmallen_tests``` hangs with 100% CPU.

Ctrl-C in browser doesn't stop it.
Something is wrong.

[2021-01-13 08:10] zoq commented on #242
Can you build with `make VERBOSE=1` that provides us with some information at what position the build hangs.

[2021-01-13 15:16] benmarchi commented on #246
I was able to create an example that consistently crashes when generating a report. The example calls ensmallen from R, so I don't know if that is part of the issue.

c++ code
[code]

[code]

[2021-01-13 15:20] benmarchi commented on #246
I was able to create an example that consistently crashes when generating a report. The example calls ensmallen from R, so I don't know if that is part of the issue.

<details>
<summary>c++ code</summary>
[code]
</details>

<details>
<summary>R Code</summary>
[code]
</details>

[2021-01-17 19:37] #243 closed

[2021-01-26 23:56] rcurtin commented on #246
*Thank you* for the clear report with how to reproduce!  In order to reproduce specifically from C++, I adapted the code you wrote a little:

[code]

Now I actually am not R-literate, so I can't really parse exactly how you made X and y, but I at least made them have the right shape (although I used a column-major representation not a row-major representation).

But this seems to work just fine, a

[2021-01-28 22:56] benmarchi commented on #246
I'm glad that you were able to reproduce the issue. The code I shared is a pretty significant simplification of the actual problem I'm trying to solve, but having the `X` matrix contain some, but not all, binary columns is important to the problem and seems to be contributing to the crashing behavior. I generated 'y' so that it was strictly positive (such that the objective and gradient are define

[2021-01-29 00:02] rcurtin commented on #246
Sorry, maybe I wrote badly---I was not able to reproduce the issue.

Can you describe how the `X` matrix is generated?  I'm sure I can implement Armadillo code to do it, but the problem is that I can't understand the R that currently does it. :)

I switched to a column-major representation because that's the internal representation that Armadillo uses (which in turn was chosen because BLAS and LAP

[2021-02-04 23:08] rcurtin commented on #246
I was able to reproduce this from R today.  Still trying to narrow down what the cause is.  (Also, I can just dump the data from R so no need to rewrite the data creation in C++.)

[2021-02-09 12:57] shediffer opened #250 "Cannot find LAPACK library, but ARMA_USE_LAPACK is set."
Selecting Windows SDK version 10.0.18362.0 to target Windows 10.0.18363.
Configuring ensmallen 2.15.1
ARMA_USE_WRAPPER is not defined, so all dependencies of Armadillo must be manually linked.
CMake Error at CMake/FindArmadillo.cmake:195 (message):
  Cannot find LAPACK library, but ARMA_USE_LAPACK is set.  Try specifying
  LAPACK libraries manually by setting the LAPACK_LIBRARY variable.
Call Stac

[2021-02-10 01:32] conradsnicta commented on #250
@shediffer Try directly linking with libopenblas.dll, as given in the Armadillo archive (download from [here](http://arma.sourceforge.net/download.html))

      armadillo-10.2.1/examples/lib_win64/libopenblas.dll
      armadillo-10.2.1/examples/lib_win64/libopenblas.lib

[2021-02-10 10:32] shediffer commented on #250
I still have some questions, sorry to ask so much...I use cmake-gui and vs2019 to build ensmallen,  here are the results.  There's no .dll or .lib. Is this normal?
![image](https://user-images.githubusercontent.com/78800429/107498067-47626d80-6bce-11eb-8231-91d83db88452.png)
![image](https://user-images.githubusercontent.com/78800429/107498122-55b08980-6bce-11eb-8e2f-d65af89a7d23.png)

[2021-02-11 00:18] rcurtin commented on #250
ensmallen is a header-only library, so no `.lib` or `.dll` will be built. :)  When you use ensmallen, you only need to include the directory of header files, and link against Armadillo. :+1:

[2021-02-11 06:08] shediffer commented on #250
Thanks a lot.👍

[2021-02-13 21:06] rcurtin commented on #246
Hey @benmarchi, I got to the bottom of the issue and opened #252 to fix it.  Basically, L-BFGS is not taking any steps at all during optimization.  Maybe the gradient is implemented incorrectly?  Here's the "corrected" `Report` output:

[code]

[2021-02-15 14:01] benmarchi commented on #246
Great! Thanks for your help in tracking down the issue. I can definitely check the form of the gradient, but I think the proposed solution is nice in that it provides some indication that something may be wrong with the optimization.

[2021-02-15 14:01] #246 closed

[2021-02-16 22:15] zoq commented on #246
Alright just merged - https://github.com/mlpack/ensmallen/pull/252.

[2021-02-17 13:08] ggardet opened #253 "AdamSchafferFunctionN2Test fails on aarch64"
#### Issue description

`AdamSchafferFunctionN2Test` fails on aarch64:
[code]

#### Your environment

 * version of ensmallen: 2.16.0
 * operating system: openSUSE Tumbleweed
 * compiler: gcc10
 * version of Armadillo: 10.2.0 (+blas 3.8.0)
 * any other environment information you think is relevant:

#### Steps to reproduce

Build for openSUSE Tumbleweed aarch64 and run the tests.

#### Expected be

[2021-02-18 02:39] rcurtin commented on #253
I tried to reproduce this locally, but was not able to on an x86_64 system (with many different random seeds).  So this looks like an aarch64-specific issue; I'll have to try and reproduce it there to see what's going on when I have a chance.  Thanks for the report!

[2021-02-18 03:10] conradsnicta opened #254 "missing release?"
[ensmallen.org](https://ensmallen.org) shows that [ensmallen 2.16.0](https://ensmallen.org/files/ensmallen-2.16.0.tar.gz) is available, but the 2.16.0 release doesn't seem to show up properly at the [GH releases page](https://github.com/mlpack/ensmallen/releases).  This results in the latest release to be shown as 2.15.1 on the [GH landing page](https://github.com/mlpack/ensmallen).

A reviewer fo

[2021-02-19 01:53] rcurtin commented on #254
You're right, thank you!  I just forgot to unmark it from draft.  Done now. :+1:

[2021-02-19 01:53] #254 closed

[2021-02-19 09:13] #242 closed

[2021-02-19 20:21] coatless commented on #246
@zoq / @rcurtin any chance of a new point release with the fix being released? It just missed the 2.16.0 release.

[2021-02-19 22:29] zoq commented on #246
Good idea, I can open a PR.

[2021-02-20 15:26] barak commented on #253
Happens on a bunch of architectures. See https://buildd.debian.org/status/package.php?p=ensmallen

[2021-02-20 19:53] zoq commented on #246
Let's fix https://github.com/mlpack/ensmallen/issues/253 as well.

[2021-02-22 12:05] rcurtin commented on #253
I tried to reproduce in an aarch64 docker container yesterday (via qemu) but no success yet.  I'll keep trying later today.

[2021-02-22 14:15] shrit commented on #253
I will keep an eye on this issue too, this will be easier to reproduce once [#2531](https://github.com/mlpack/mlpack/pull/2531) get merged

[2021-02-22 14:26] conradsnicta commented on #253
I ran all tests on Raspberry Pi 400, with no errors reported.
Armadillo was linked against OpenBLAS.0.3.5.  A different result may occur if standard BLAS is used.

(Raspberry Pi 400 has [BCM2711](https://www.raspberrypi.org/documentation/hardware/raspberrypi/bcm2711/README.md), which is apparently Cortex-A72 (ARM v8), but /proc/cpuinfo reports it as "ARMv7 Processor")

[2021-02-22 17:07] ggardet commented on #253
You are using an armv7 distro, so no aarch64 for you.

[2021-02-24 02:44] rcurtin commented on #253
I've been trying to reproduce this in an arm64-on-x86-64 docker container, but with no success.  It will be a little while until I am able to try this on actual arm64 hardware, so if someone else beats me to it, please feel free to debug further. :)

[2021-02-24 10:43] barak commented on #253
@rcurtin If you tell me how to instrument this more thoroughly I could upload a version that gives more information on all the Debian build architecture.

[2021-02-25 03:53] conradsnicta commented on #253
@barak Can you clarify what you mean by "how to instrument this more thoroughly" ?  We're all time-constrained, so a list of straightforward steps would be helpful.

[2021-02-25 11:07] barak commented on #253
@conradsnicta Sure. Right now, there's a stanza in the `debian/rules` build script
[code]
where `dh_auto_test` basically does `make test`. That gets run during the build process on all architectures. And if the test fails, the build is considered to have failed. The entire transcript is made available (URLs above.)

I can put other commands there. E.g., set it up so if the test fails it runs some

[2021-02-25 16:40] madhavshah49 commented on #176
Hey there how should we proceed on this issue?

[2021-02-26 08:31] say4n commented on #176
@madhavshah49 a good place to start would be [this PR](https://github.com/mlpack/ensmallen/pull/149) adding multi-objective optimisation and [this subsequent PR](https://github.com/mlpack/ensmallen/pull/210) that attempted to add MOEA/D based on the previous PR. Have fun! :)

[2021-02-26 13:32] madhavshah49 commented on #176
@say4n thank you for the suggetions I shall start from there

[2021-02-26 23:54] rcurtin commented on #246
I'm having a lot of trouble reproducing #253.  Maybe can we merge #258 and do a release then, and perhaps a fix for #253 can come later. :+1:

[2021-02-26 23:55] rcurtin commented on #247
I opened #258 with a quick fix. :+1:

[2021-02-26 23:59] zoq commented on #246
Let's see if I can reproduce the issue on one of my systems.

[2021-02-27 01:36] #247 closed

[2021-02-27 22:11] rcurtin commented on #253
It's hard for me to know what kinds of output would actually help figure out what's wrong here.  Honestly I think I would need to play with it and step through what was going wrong.  I tried to reproduce this on an arm64 system and I also had no success there.

@barak do you think you could try a build where you ran the tests twice (or even three times)?  It so happens that in ensmallen 2.16.0, I

[2021-02-28 15:50] barak commented on #253
Sure. What exactly should I do? Just "make CTEST_OUTPUT_ON_FAILURE=1 test" three times?

[2021-03-01 14:37] shikharjan commented on #176
also what algorithm would be easier to use?

[2021-03-02 03:23] conradsnicta opened #260 "license is no longer 3-clause BSD"
The recent changes to `LICENSE.txt` have resulted in the license no longer being 3-clause BSD.

See the following comment for more details:
https://github.com/mlpack/ensmallen/commit/cf2c758ecbb8c028f33496381c72021d3d938e2d#commitcomment-47721035

[2021-03-02 03:33] #260 closed

[2021-03-03 01:37] shikharjan commented on #176
@say4n if you could tell me the mentioned things above

[2021-03-03 22:05] rcurtin commented on #253
Yeah, let's give that a shot and see what happens...

[2021-03-04 01:39] barak commented on #253
Okay! Uploaded, we'll see how it goes.
I have it set up to run three times and then fail if any of the test runs failed.

[2021-03-04 10:00] barak commented on #253
Built. On some failing architectures it fails all three times the same way. But on others (like `armhf`) it sometimes fails and sometimes succeeds!

Check it out: https://buildd.debian.org/status/package.php?p=ensmallen

[2021-03-05 16:59] zoq commented on #253
Just checked the gradient for the Schaffer N2 function, and got another result maybe the gradient implementation is wrong, I'll check it once more.

[2021-03-05 21:29] zoq commented on #253
@barak can we run the tests on a specific PR as well? The gradient is correct but the Adam update rule uses an approximation, the difference is marginal but wondering if that causes an issue.

[2021-03-05 23:44] yurivict opened #264 "Some tests fail on FreeBSD"
#### Issue description
[code]

#### Your environment

 * version of ensmallen: 2.16.1
 * operating system: FreeBSD 12.2
 * compiler: clang-10
 * version of Armadillo: 10.1.1

[2021-03-06 00:16] rcurtin commented on #264
It looks like you have run the tests from the wrong directory or something---the majority of those issues appear to be that the data files can't be loaded.

[2021-03-06 01:12] yurivict commented on #264
Sorry, I first pasted a wrong log.

There is only one failure:
[code]

[2021-03-06 08:58] barak commented on #253
Uploaded `2.16.1-1` last night. Still fails on some architectures, although now it seems consistent:
[code]
The failing architectures are `arm64`,  `ppc64el`, and `s360x`.

Not sure what you mean by running it on a PR. I can upload a version containing some extra commits if you'd like.

[2021-03-06 23:50] zoq commented on #253
Can you run the tests against https://github.com/mlpack/ensmallen/pull/265?

[2021-03-07 02:33] joemsong opened #266 "Embedded assembly code not working for Apple M1"
Could the embedded assembly code be replaced for Apple M1 processor?

Thank you.

--------
% brew install --build-from-source ensmallen
==> Downloading https://github.com/mlpack/ensmallen/archive/2.16.1.tar.gz
Already downloaded: /Users/joesong/Library/Caches/Homebrew/downloads/7fe6be0479b5520276f672eddcec999809758c01481a2cd7f6d0441b415fc045--ensmallen-2.16.1.tar.gz
==> cmake ..
==> make install
L

[2021-03-07 02:50] zoq commented on #266
Hello @joemsong do you mind to download the latest version of catch2 (`catch.hpp`) - https://github.com/catchorg/Catch2/releases and replace with the `catch.hpp` file in `ensmallen/tests/` (https://github.com/mlpack/ensmallen/blob/master/tests/catch.hpp) and see if that works?

Instructions:

[code]

You might have to install armadillo before that:

[code]

[2021-03-07 04:08] conradsnicta commented on #266
@joemsong it's a bug in Catch2; see https://github.com/catchorg/Catch2/commit/a25c1a24af8bffd35727a888a307ff0280cf9387

[2021-03-07 04:12] joemsong commented on #266
@zoq and @conradsnicta: Thank you for the prompt response.

[2021-03-07 16:56] barak commented on #253
Uploaded to debian; will see how it goes.

[2021-03-07 19:00] zoq commented on #253
Thanks!

[2021-03-07 19:14] rcurtin commented on #264
I'm not sure but this could be related to https://github.com/mlpack/ensmallen/pull/267.

[2021-03-07 19:39] barak commented on #253
Still fails on some architectures but not others.

[2021-03-07 21:48] zoq commented on #253
Can you post the link to the report?

[2021-03-08 09:56] ggardet commented on #253
With https://github.com/mlpack/ensmallen/pull/265 I still get a failure on aarch64:
[code]

[2021-03-08 09:57] say4n commented on #176
@shikharjan I haven't gone through the implementation/papers of other algorithms on the list so I can't really speak of the ease of use/implementation, keep in mind that the list is only indicative of a direction, feel free to choose any other MOO algorithm that you are comfortable working on!

As far as building on MacOS is concerned, I have had success using [homebrew](https://brew.sh) to instal

[2021-03-08 12:45] barak commented on #253
@zoq Sure. The link above, https://buildd.debian.org/status/package.php?p=ensmallen, leads to the latest Debian build logs for the package on all architectures.

[2021-03-08 17:16] zoq commented on #253
Thanks, I missed that one.

@barak @ggardet do we have any more information about the hardware?

[2021-03-08 19:56] barak commented on #253
@zoq https://db.debian.org/machines.cgi for what it's worth. What particular features are you looking for. RAM perhaps?

[2021-03-09 10:43] ggardet commented on #253
On my side this is inside aarch64 qemu/kvm VM.

[2021-03-09 20:56] barak commented on #253
I believe these are not virtual but rather physical instances of each architecture, with the builds run in a chroot sandbox containing the minimal build prerequisites.

[2021-03-10 14:24] #266 closed

[2021-03-12 22:40] rcurtin commented on #264
Actually I'm pretty sure this was fixed with #267, so I'll go ahead and close this.  Hopefully, next release, everything will pass for you. :)

[2021-03-12 22:40] #264 closed

[2021-03-16 05:53] jonpsy opened #272 "Bounds of multiobjective problems should be handled automatically."
Speaking in the context of multiobjective algorithms, when defining an objective function test case, it's important to also define the variable space in which it applies.  That means, its important to define the upper and lowerbound **inside the problem**.

The bounds are an integral part of the problem itself, and users shouldn't be bothered on the bounds to be set in the first place.

Few exampl

[2021-03-16 05:56] jonpsy commented on #272
An added advantage to bounds being inside the problem is the optimizer doesn't require ```lowerBound``` and ```upperBound``` argument anymore. It can simply extract it from the problem itself.

[2021-03-16 19:19] zoq commented on #272
All the problems we have in ensmallen are there for testing, so I'm not sure putting the bounds in the problem definition saves a user from specifying bounds for his problem, the same applies for the optimizer parameters, which have to be tailored down to the specific problem. Maybe I missed the point here?

[2021-03-16 19:22] jonpsy commented on #272
Sorry, I wasn't clear. I meant, Schaffer N1 Problem which is used inside NSGA2 Test. In NSGA2Test we **manually** put lowerBound as -1000 and upperBound as 1000 whereas Schaffer N1 Problem's domain is [-10, 10].

[2021-03-16 19:39] zoq commented on #272
I see what you mean; there are two main problems I have with putting the bounds into the problem:

1. The current function/problem interface is super simple, in the simplest form, you just have to implement `Evaluate` or `EvaluateConstraints`, putting the bounds in the function adds two more functions to the interface.
2. Refactoring, currently all the parameters are attached to the optimizer, so

[2021-03-16 19:48] jonpsy commented on #272
Can we try declaring ```static constexpr lowerBound```and ```upperBound ``` so that users can extract from the problem set and feed it to optimizer?

This is just a stand-in solution which doesn't mess up the interface 😃.

[2021-03-16 23:33] rcurtin commented on #272
I think that the bounds to be searched for the solution should be a parameter to the optimizer.  The reason I say this is because if I have a function `f(x) = 2 * x` and I want to find the minimum... whether or not I want to bound my search is not related to the function itself; it is related to how I choose to use the optimizer.

Now, in #249 I refactored many tests to move various aspects of the

[2021-03-17 00:48] zoq commented on #272
Adding on the point, I guess the main question is how do we pass multiple constraints to the optimizer, because our current interface `Optimizer(lowerBound, upperBound)` applies the same bound to the function, which is all we need if we optimize a single function but for multi-function optimization there are cases where we need to pass different constraints for different functions. @jonpsy correct

[2021-03-17 01:26] jonpsy commented on #272
Remember that we're solving for all the multiobjective problems **simulataneously**. This means our ```lowerBound``` and ```upperBound``` should be an intersection of all the ```(lowerBound, upperBound)``` of the Problems provided. As I said earlier, perhaps we can create an external util function for this?

[2021-03-17 01:47] jonpsy commented on #272
Consider ```f(x) = log(x)```,

![image](https://user-images.githubusercontent.com/45007169/111401799-fd4e3980-86ef-11eb-8c27-d09b4e1a378b.png)

If we put our bounds as ```(-1000, 1000)```, it will cause UIB because log(x) is not defined for negative numbers. So yes, it depends on the problem too.

+1, imo an external function should handle this, because ```ProblemA``` doesn't know the bounds of ``

[2021-03-18 02:15] zoq commented on #272
I'm still not sure I see the benefit for something that is only meant for testing. I see this as another complexity added on top of something that a user has to specify anyway and should now be hidden behind some functionality that is not directly visible to the user.

So at least for me something like:

[code]

is easier to grasp as something like:

[code]

[2021-03-18 02:31] jonpsy commented on #272
[code]
Not very hard to grasp, and it lets the user know that we're taking the intersection lowerBound and upperBound of the functions.

I don't expect the user to calculate the intersecting lower and upper bound of all the arbitrary functions he puts in. Isn't it better if we do it for them? And if the user is feeling adventurous, there's nothing stopping him from doing
[code]
A win-win, no?

[2021-03-18 03:17] rcurtin commented on #272
I'm leaving aside the question of whether or not we put bounds in the test problems in `problems/` (because regardless of the outcome of this discussion I think we should do that anyway to simplify our test infrastructure; it's internal code).

I appreciate the discussion---I could write quite a lot about each of these reasons why it is better to keep the bounded regions that the optimizer should

[2021-03-18 15:22] jonpsy commented on #272
Thanks for the detailed explanation, I've summarised my conclusions:

a) It's best to keep the bounds as parameters to optimizers to allow flexibility in search space for the user.
b) For convenience's sake, it will be good if users could extract problem search space from the ```Problem``` class.
c) A util function could help us get the intersection of bounds of multiple objective functions.

[2021-03-18 15:27] rcurtin commented on #272
(a) Yes, agreed.
(b) If you are referring only to functions in `problems/`, then yes, but I don't expect users to be using anything in there.  Those are primarily for our own internal testing, and if we encode the bounds of the problem there, writing the test suite is a little bit easier.
(c) Sure, this could be useful, and if you want to add this, we should consider where in the documentation we

[2021-03-18 18:27] zoq commented on #272
About b and c) I think a lot of users treat the tests as examples, so everything we show there could be interpreted as how a certain function can or should be used, with that in mind I'm not a fan of the idea to add the bounds or provide some an extra utility.

[2021-03-18 18:54] rcurtin commented on #272
@zoq good point---in this case, should we go through what's in `problems/` and add a comment above `GetInitialPoint()` and `GetFinalPoint()` to point out that those functions are *not* required for general ensmallen usage and are only used in our test suite?

[2021-03-18 19:57] zoq commented on #272
Yes, I guess a top level comment in some of the test suites as well.

[2021-03-18 19:57] jonpsy commented on #272
@rcurtin Do you think it will be a good idea to warn the users if the ```bounds``` they're using isn't in the feasible set (maybe a runtime warning or in docs) just to let them know "You're on your own now! "

[2021-03-19 00:40] rcurtin commented on #272
How would we know what the feasible set is?  Multi-objective functions have no API requirement to specify that.

@zoq no problem, I can open a PR for that.

[2021-03-19 01:56] jonpsy commented on #272
True, maybe we can put it in ```FunctionTypes.md```  something like "It is advisable to use the util function to know the bounds of multiobjective functions. However, a user may choose to ignore it but is responsible for undefined behaviors".

[2021-03-19 02:20] rcurtin commented on #272
Not all multiobjective optimizers will necessarily require bounds.  So it would be more appropriate just to point out in the optimizer documentation that setting the bounds correctly is important, if it is an optimizer that requires bounds inside of which to search. :+1:

[2021-03-20 07:14] #250 closed

[2021-03-20 18:16] rcurtin commented on #272
PR opened for comments in #276. :+1:

[2021-03-21 06:41] jonpsy opened #277 "Replacing if clause with matrix operation"
I'm currently working on SBX crossover operator for SPEA-II. You can have a look at how the real algorithm works in [python](https://github.com/DEAP/deap/blob/d328fe6b68e7528b2d2d990bb2ab1ad1786e6f58/deap/tools/crossover.py#L291) or [C](https://gist.github.com/Tiagoperes/1779d5f1c89bae0cfdb87b1960bba36d) and check my implementation [here](https://github.com/jonpsy/SPEA-2/blob/master/sbx.cpp).

As

[2021-03-21 13:19] rcurtin commented on #277
It's possible that without the possibility for loop termination this could be much slower.  (It is also possible that it could be faster, depends on the data and the complexity of the operations being done.)  So that is probably worth checking.

In any case I think the code is readable either way.  I would suggest using the technique that performs better.

[2021-03-22 01:17] zoq commented on #277
Agreed, I would put together a simple benchmark, use armadillo `tic/toc` or something else and get some numbers; difficult to say at this point if one or the other method is faster, which I think is the main factor here, because I think both are easy to read, I might slight lean towards the` if/else` case but if both are the same (timing wise), I would say go with whatever you prefer.

[2021-03-22 02:45] jonpsy commented on #272
Opened PR for comments #278 ^_^

[2021-03-22 10:31] jonpsy commented on #277
I've benchmarked using ```tic/toc``` and here are the results.
Note: Input population was generated uniformly
Ratio (vectorised vs normal)

**a) numVariables : 5** Ratio: 1.0637184351694362
[code]
**b) numVariables : 100** Ratio : 1.5724
[code]

**c) numVariables: 1000** Ratio: 2.3295676804585086
[code]
**d) numVariables: 1000000(very large number)** Ratio: 2.5319350480896023

[code]
Vectorised se

[2021-03-22 10:32] #277 closed

[2021-03-25 19:54] rcurtin commented on #253
Ok, so we ended up deciding to simply remove the test in #265 because we don't have any reason to believe that anything is actually broken on arm64 (given all the other passing test cases for Adam), and also because we found a comment indicating that the plan was to remove the test anyway. :smile:

So, now ensmallen 2.16.2 is released... and hopefully should work on arm64 and all of the various ar

[2021-03-25 22:16] onikolskyy opened #280 "NES implementation"
Is there something like Natural Evolution Strategies implemented already?
Would love to implement/use it.

[2021-03-25 22:25] barak commented on #253
uploaded! (although it's unlikely it'll make it into the stable release because it's too much of a delta for so late in the release process)

[2021-03-25 23:27] zoq commented on #280
We have an PR for NEAT in mlpack https://github.com/mlpack/mlpack/pull/1908, do you have something specific in mind?

[2021-03-26 09:04] ggardet commented on #253
I confirm that version 2.16.2 is perfectly fine on openSUSE Tumbleweed aarch64. Thanks!

[2021-03-26 10:16] onikolskyy commented on #280
The idea is to implement the Natural Evolution Strategies as

- a standalone optimization algorithm
- a method to train deep neural networks (at least in the variant proposed by OpenAI)

NES samples from a Normal Distribution and is connected to CMA-ES in terms of rank-mu update (but NES does not require backtracking of evolution paths )

Further, as mentioned earlier, OpenAI proposed a variant of

[2021-03-27 17:05] zoq commented on #253
Great, thanks for the info.

[2021-03-27 17:06] rcurtin commented on #253
Awesome, now let's just wait to see if @barak has success too, and if so, I think we can happily close this issue. :)

[2021-03-27 23:51] zoq commented on #280
Absolutely, I thought you are talking about evolution strategies in general, but having an NES implementation would be great.

[2021-04-03 16:32] jonpsy opened #282 "Framework for Multi-Objective Optimizations - II"
This would be a long-standing discussion, the goal is to discuss the return types, testing and other functionalities of MOEA(Multiobejctive evolutionary algorithm)  and how it all can seamlessly fit with the established single-objective optimizer(SOO) API.

First, let's revise the goals of an MOEA:

-  To approximate the Pareto Front  (solution set) ---- (1)
-   To have a diverse set of solution

[2021-04-10 18:48] jonpsy commented on #282
@zoq  I'd like to know your thoughts on Section-I. I have had some talks reg. Section-I with @rcurtin over IRC, he liked the overarching idea although he may/may-not disagree with my specifics, if you're reading this join the discussion :).

[2021-04-27 07:05] barak commented on #253
All seems well!

[2021-04-27 22:01] rcurtin commented on #253
Awesome!  I will go ahead and close this then, and hopefully there won't be more issues in the future. :smile:

[2021-04-27 22:01] #253 closed

[2021-04-28 04:34] #272 closed

[2021-05-04 00:34] #280 closed

[2021-05-19 16:22] jonpsy commented on #282
Keep open

[2021-05-19 18:35] coatless commented on #282
@zoq can you re-open the discussion thread for multiobjective optimizers?

[2021-05-19 18:44] zoq commented on #282
Sure thing.

[2021-05-28 12:21] jonpsy commented on #282
**A) Callbacks**

After some [discussion](https://github.com/mlpack/examples/pull/155#discussion_r640001166) , we concluded that the callbacks aren't very flexible for MOO. Sure, ```FunctionType``` is a good substitute for ```std::tuple<FunctionTypes...>```  but there were a whole lot of other problems that came to be about.

@zoq suggested we specialize the methods of callback functions to SFINAE

[2021-05-28 19:23] zoq commented on #282
Apart from this, I have a question, it's said that Evaluate() in callback is called after the objective function's Evaluate(). Is it automatic or do we have to write explicitly Callback::Evaluate() after calling Evaluate of our function(s).

That is something you have to do manually, what this meant to say is that if there is a callback it will be called right after it:

https://github.com/mlpack/

[2021-05-31 17:54] jonpsy opened #290 "Front() API"
-->

#### Problem location

```doc/function_types.md```

#### Description of problem

The example is outdated, uses an older API. I'll do the change, but setting this issue as a reminder so that we don't sleep on it.

[2021-06-01 16:36] jonpsy commented on #290
Fixed in the PR.

[2021-06-01 16:36] #290 closed

[2021-06-09 05:25] AlexPars opened #292 "New feature: adding IPOPT to ensmallen"
Based on test results I have seen, IPOPT is top 3 local optimization algorithms

Perhaps you may want to add it to ensmallen

IPOPT webpage: https://github.com/coin-or/Ipopt

[2021-06-09 22:01] rcurtin commented on #292
Agreed!  It would be really awesome to add this.  ensmallen could definitely use some more constrained optimizers. :+1:

[2021-06-16 06:09] jonpsy opened #294 "MOEA/D-DE vs NSGA-II : Battle of the Optimizers"
## I. Introduction

This issue is a documentary of the differences between NSGA-II and MOEA/D-DE.  The results presented have been tested rigorously, links of which will be shared. These optimizers would be compared on their ability to the accuracy of results, their speed and the quality of the Pareto Front. The parameters have been taken directly from [1] for comparison.

## II. Methodology

###

[2021-06-16 06:12] jonpsy commented on #282
@zoq I think the time has come for comparing NSGA-II and MOEA/D-DE.

[2021-06-16 06:36] jonpsy commented on #294
https://pastebin.com/MZybGFNb

[2021-06-22 01:50] zoq commented on #282
Agreed, the results you showed are really exciting :+1:

[2021-06-23 02:34] conradsnicta opened #301 "disable building tests by default"
With the aim of making ensmallen more approachable (easier/faster to install), I suggest to turn off building the tests by default.

For users that want to try out ensmallen, the tests are not necessary and cause an annoying slowdown in the installation.  The tests are useful to developers of ensmallen, but they are not useful to the users of ensmallen.

A target such as "tests" or "ensmallen_test

[2021-06-23 13:51] rcurtin commented on #301
Yeah, I agree, like you pointed out we did the same for mlpack.  Any other opinions on this one?  I'm happy to put together a quick PR for it. :+1:

[2021-06-23 14:12] zoq commented on #301
Sounds like a good idea to me as well.

[2021-06-23 14:53] conradsnicta commented on #301
@rcurtin I suggest merging https://github.com/mlpack/ensmallen/pull/300 before the quick PR for this.  The quick PR would need to adjust the wording in README.md, ie. remove mention of tests being built as part of the installation process.

[2021-06-24 11:53] jonpsy commented on #294
### Speed

Using the configurations mentioned above, I've ran the test setting random seed for ```DefaultMOEAD```, ```BBSMOEAD```, ```DirichletMOEAD```.  The results were more or less the same for all the ZDT test suites.

#### My specs:
Processor:	Intel(R) Core(TM) i5-8250U CPU @ 1.60GHz   1.80 GHz
Installed RAM:	8.00 GB (7.89 GB usable)
System type:	64-bit operating system, x64-based processor

[2021-06-24 11:57] jonpsy commented on #294
### Quality of Front

I've used IGD+ and Epsilon Indicators for this.

![image](https://user-images.githubusercontent.com/45007169/123258755-59a3cf00-d511-11eb-90a7-84757b7ac3eb.png)

The variation seems to be too high to give out any concrete numbers. But I think we can say affirmly that MOEAD is a LOT better than NSGA-II in terms of "quality".

[2021-06-24 12:00] jonpsy commented on #294
### Plots

So I tested all of these in the portfolio optimization notebook, and here one could clearly see why the indicator values are so much better for MOEAD.

[2021-06-24 13:58] zoq commented on #294
[code]

[2021-06-24 15:10] rcurtin commented on #294
g++-10.2.1
armadillo-10.1.2
libblas3-3.9.0
Intel(R) Core(TM) i9-10920X CPU @ 3.50GHz (24 cores)
128GB RAM

[code]

I didn't realize that I didn't have OpenBLAS, so I installed that and tried again.

[code]

I noticed that this still only ran singlethreaded, so I added the `-fopenmp` flag to the `Makefile` to see if it made a difference.

[code]

Yet, that still ran primarily singlethreaded, so thi

[2021-06-24 15:49] jonpsy commented on #294
@rcurtin  I can't thank you enough for the detailed analysis you've provided me with. I have a request, can we keep this thread open indefinitely or pin this or add in the documentation? What's your thoughts?

[2021-06-24 16:24] zoq commented on #294
Personally, I would not keep this open or pin it; what has been shown here is that MOEAD is faster than NSGA2 on the ZDT test suite, which aligns with the results in the paper. Looking at the results posted, they are all very similar, so I don't think we will see huge differences between the two methods on different setups.

One thing that currently isn't covered in your benchmark script is to sta

[2021-06-24 16:51] jonpsy commented on #294
Acknowledged. To re-iterate, we agree that the implemented algorithm is displaying results as was promised in the paper (perhaps more than promised).  MOEAD has not only outdone classic NSGA-II in terms of Quality Metric but also speed.  In conclusion, we have sufficient proof to say **algorithm is implemented correctly**.

Reg. Initial Point, if diving into that matter, would you suggest we start

[2021-06-25 15:54] zoq commented on #294
I really like the real world problems - http://www-personal.umich.edu/~fioretto/cfp/OPTMAS18/papers/paper_7.pdf. But if we move forward with it, we should make sure the interface is there to easily add new problems.

[2021-06-29 00:56] conradsnicta commented on #301
issue resolved via https://github.com/mlpack/ensmallen/pull/303

[2021-06-29 00:56] #301 closed

[2021-06-29 00:59] conradsnicta commented on #290
related: https://github.com/mlpack/ensmallen/pull/304

[2021-07-04 10:46] emogenet opened #307 "feature request: automatic differentiation"
The main reason I can't use ensmallen right now is the lack of automatic differentiation for my objective function.

My function is C1 but actually implementing differentiation for it is a giant PITN, especially because it calls on relatively complex opencv resampling code.

The only quick work-around for me is to implement numerical gradient computation, which - for example - ceres provides nativ

[2021-07-07 02:13] rcurtin commented on #307
It would be really awesome to have automatic differentiation support for exactly the reasons you mentioned!  But, unfortunately, it would be a huge amount of effort and scope creep for this project to implement that.  If someone ever came along and wanted to implement an AD framework that would be great and I think we should include it (or perhaps package it as its own project), but as far as I kn

[2021-07-09 13:56] jonpsy commented on #307
Great initiative! Perhaps we could take inspiration from the new [Flashlight](https://fl.readthedocs.io/en/latest/autograd.html)  library from FB-AI?  Since they're the progenitor of this concept, I'd expect them to nail this concept in C++ perfectly. Further, I recall there were some attempts at this in the [shogun](https://gf712.github.io/programming/2020/03/17/shogun_graphs.html) library as wel

[2021-07-14 13:24] shrit opened #311 "Convert ensmallen from vcpkg to nuget and submit the package to nuget repository"
Hello everyone,

Currently, it is possible to download ensmallen through `vcpkg`, it might be a nice feature to have ensmallen available in `nuget` too.
I do not have a Windows machine, neither the time to maintain the conversion for subsequent versions. If anyone would like to volunteer to do this that will be wonderful.
You need to convert ensmallen package via `vcpkg export` command, then you n

[2021-07-16 23:43] #292 closed

[2021-08-01 16:43] #294 closed

[2021-08-02 09:15] say4n commented on #294
Should we re-open this?

[2021-08-02 10:59] jonpsy commented on #294
+1. @zoq ?

[2021-08-04 02:39] yurivict opened #312 "[regression in 2.17.0] Tests aren't built"
In ```2.16.2``` tests were built with ```-DBUILD_TESTS=ON```, but now in ```2.17.0``` they don't get built.

[2021-08-04 03:13] zoq commented on #312
The option was replaced with `make ensmallen_tests` see https://github.com/mlpack/ensmallen/pull/303 for more details, I also opened https://github.com/mlpack/ensmallen/pull/313 to remove the option.

[2021-08-09 02:53] conradsnicta commented on #312
#313 merged

[2021-08-09 02:53] #312 closed

[2021-08-10 03:17] #307 closed

[2021-08-13 22:13] rcurtin commented on #311
Did anything else need to happen here?  It seems like ensmallen is available from nuget now, based on mlpack#2953.

[2021-08-14 10:54] shrit commented on #311
not really, the package is available and working, we can close it if you want

[2021-08-16 20:36] rcurtin commented on #311
Awesome!  Thanks for getting this figured out. :)

[2021-08-16 20:36] #311 closed

[2021-09-16 22:14] zoq opened #320 "armadillo / bandicoot conv_to ambiguity"
In some optimizers / functions we use `conv_to<type>::from(X)`, now ADL doesn't work here since it matches `arma::conv_to` and `coot::conv_to`, so this will fail if I build against bandicoot. An easy solution is to introduce a `type_trait` for `coot` and `arma` types and implement a utility function that call's the right `conv_to` based on the type. But maybe there is a better solution? @conradsni

[2021-09-17 03:42] conradsnicta commented on #320
Dealing with ADL is always fun.  Not sure what the best approach is without looking into this deeper.  However, the suggested approach (essentially an abstraction layer) sounds pragmatic and doable.

(PS. Based on experience, ADL in its current state is a net negative in my view.  In retrospect, its inclusion into the C++ standard was a mistake.  A better solution would be to have an explicit ``us

[2021-09-17 03:57] zoq commented on #320
I guess another solution would be to make `conv_to` a member function of `X,` instead of a standalone function. But maybe there is a reason why you opted out for this? So similar to `X.max()` I can also do `X.conv_to<type>()`.

[2021-09-19 01:59] conradsnicta commented on #320
Armadillo aims to follow both the letter and spirit of Matlab syntax, where stand-alone functions take inputs and provide outputs, ie. `Y = f(X)`.  Member functions mainly aim to modify the underlying objects, eg. `X.load()`.

There are targeted exceptions for pragmatic reasons, such as `Y = X.t()`, which aims to mimic the transpose operation in Matlab (ie. `Y = X'`).  The `X.max()` member functio

[2021-09-19 14:51] emollier opened #321 "tests/catch.hpp update to anticipate failure to build with glibc 2.34"
Good day,

#### Issue description

If I trust Graham Inggs in [Debian Bug#993513](https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=993513), the test suite would be at risk to not be able to run anymore with the present version of _catch_ 2.13.4.  This is, quoting Graham, "due to MINSIGSTKSZ and SIGSTKSZ no longer being defined".  _catch_ 2.13.7, or greater, are supposed to solve that issue.  Woul

[2021-09-19 16:40] zoq commented on #321
Thanks for the report, opened https://github.com/mlpack/ensmallen/pull/322 to update catch to the latest version.

[2021-09-19 16:51] zoq commented on #320
Thanks for the clarification; I also don't want to backport specific armadillo functions because we like to support older versions. That said, I think the extra type-dependent conversion utility is good enough.

[2021-09-21 01:47] conradsnicta commented on #321
#322 merged

[2021-09-21 01:47] #321 closed

[2021-09-27 01:40] rcurtin commented on #320
The workaround solution you proposed is a bit tedious, but unfortunately I don't think we can do much better than that. :+1:

[2021-10-13 11:20] ElianeBriand opened #324 "C++20 redudant template argument disallowed in ctor"
#### Issue description

If you don't support C++20, I guess this is not an issue but as a heads up, code like that does not compile with C++20:

[code]
due to the following change that dissallow redundant template type declaration in the ctor and dtor declaration:

https://eel.is/c++draft/diff.cpp17.class#2

This is triggered by `EarlyStopAtMinLossType` by just including `ensmallen.hpp`, but possi

[2021-10-14 02:09] conradsnicta commented on #324
Once this is fixed we should aim to release ensmallen 2.18. Compared to the last release, the git repo has a bunch of other useful changes.

[2021-10-14 09:19] #324 closed, assigned to nobody

[2021-11-01 13:46] barak opened #329 "Debian build (test) failure on armel"
#### Issue description

The Debian autobuilders are failing on the `armel` architecture for `ensmallen 2.18.0-1`, while succeeding for everything else!

#### Your environment

 * version of ensmallen: 2.18.0-1
 * operating system: Debian (unstable)

For other info, see the package versions installed in the build log.

#### Steps to reproduce

Visit https://buildd.debian.org/status/package.php?p=en

[2021-11-02 02:10] conradsnicta commented on #329
relevant extract from the rather noisy build log:
[code]

[2021-11-02 02:22] zoq commented on #329
Any chance to get a stack trace? From the log I can see `invalid fastbin entry (free)` happens before the `SoftmaxRegressionFunctionPartialGradientTest` failure, but tricky to figure this out without any further information and I don't think there is a known issue with armadillo on armel.

[2021-11-02 04:39] conradsnicta commented on #329
@barak in addition to @zoq's comment above, is this failure reliably repeatable?  In other words, if the tests are run again, does the failure occur, or is it intermittent?

[2021-11-02 08:52] barak commented on #329
@conradsnicta I'm not sure. I could hot-wire the scripts to run the test a second time if they fail the first time. Or to just always run them N times and fail if any of the runs fail. Although if this is a persistent issue, maybe that logic belongs in the test scripts themselves? Re @zoq stack trace ... I'm happy to add options to the run to ask for them; do you have any particular in mind? It se

[2021-11-03 00:49] zoq commented on #329
I guess @conradsnicta point is that we haven't seen the issue before and if you trigger the build again we might not get the same issue.

About the stack trace, I'm not sure it makes sense to integrate that into the test suite itself, usually I just run the test in gdb. That said, are you able to ssh into the build node and run the test inside gdb, or do we have to come up with a single command li

[2021-11-03 03:35] #320 closed

[2021-11-03 12:32] barak commented on #329
It's possible to log into a machine of the appropriate architecture and then get into a chroot that has the appropriate build environment, the same as the build servers. I could request an account for @zoq and/or @conradsnicta if that might make it easier?

Anyway, I just hot-wired `debian/rules` to run the test suite twice, and if either run fails run it another three times. Will upload as soon a

[2021-11-03 23:01] barak commented on #329
Seems to fail reliably on `armel`.

[2021-11-04 00:34] zoq commented on #329
If you could request access that would make it a lot easier.

[2021-11-04 09:11] barak commented on #329
@zoq @conradsnicta Okay, there's a quick procedure for such accounts. Hope it's not too much of an energy barrier: the main hassle is having to generate a PGP key if you don't have one already.

Anyway, you need to follow the instructions on https://dsa.debian.org/doc/guest-account/ (see **Information guest needs to supply**) and send that to me mailto:barak@pearlmutter.net and then I'll sign it a

[2021-11-05 02:25] zoq commented on #329
Thanks for the help, I'll sign DMUP and get the other infos and send it your way.

[2021-11-12 09:34] barak commented on #329
Yeah, still [fails]( https://buildd.debian.org/status/package.php?p=ensmallen ) on armel and hurd-i386 only. In the [armel build log]( https://buildd.debian.org/status/fetch.php?pkg=ensmallen&arch=armel&ver=2.18.0-2&stamp=1635973782 ) there are about a zillion possibly-relevant compiler warnings. The actual test failure seems consistent across re-runs: *SoftmaxRegressionFunctionPartialGradientTest

[2021-11-12 13:33] eddelbuettel commented on #329
Could it be lack of resources, _i.e._ RAM?  I have seen this with some of my Debian packages. and  `mlpack` is big, so maybe taking `-j 4` out and waiting even more patiently would be a first step.

I don't quite recall where/how we request more resources; I think it is mostly up to the porter team on a platform to make it happen / share some tricks.

[2021-11-12 13:37] zoq commented on #329
In this case the error happens at test time, so after the build finished.

For some reason the debian keyring server isn't deploying my key or it just takes a lot of time; but I managed to get another armel device and already build `ensmallen_tests` and just this moment I run the test.

[2021-11-12 13:40] eddelbuettel commented on #329
Easy, skip the tests on that platform then  /ducks   :sunglasses:

[2021-11-12 13:47] zoq commented on #329
The debian build node uses:

[code]

And locally I'm now testing against a rpi zero, armel, debian sid.

[2021-11-12 15:21] barak commented on #329
@zoq The Debian keyserver is only for Debian personnel (basically), they meant to put it on the usual public kerserver network: you know, the big slow one full of short fingerprint duplicate attacks and other spam.

[2021-11-12 15:29] barak commented on #329
Sure @eddelbuettel, I myself am a big fan of distributing numeric software that gets the wrong answer. Heck it's just for some figure in an arXiv manuscript, who cares anyway?
[code]
And if someone foolishly uses it in an aeroplane autopilot and a jetliner crashes into an elementary school, well...
[code]

[2021-11-17 16:10] zoq commented on #329
The complete test suite finished without any issues on my armel device, I tested against armadillo 10.6.2 as well as armadillo 10.1.2.

So I think there is no way around testing it on the build node itself.

[2021-11-17 16:23] shrit commented on #329
Are you sure that Raspberry pi zero is armel? I do remember it has a floating-point support. I am not sure

[2021-11-17 16:27] zoq commented on #329
Yes, Raspberry Pi Zero and Raspberry Pi 1 is armel.

[2021-11-17 17:21] shrit commented on #329
Agreed, is the test node is a VM running on qemu?

[2021-11-18 02:38] zoq commented on #329
Good news, I can reproduce the issue.

[2021-11-19 02:00] zoq commented on #329
Issue fixed in https://github.com/mlpack/ensmallen/pull/332, we are going to release a patch version once merged.

[2021-11-19 20:25] barak commented on #329
:+1:

[2021-11-20 12:07] #329 closed

[2021-12-11 06:20] shubham1206agra opened #334 "Adam with Decay"
I just want to ask that if I want to use weight decay with Adam. How should I proceed with it?
As there is no parameter for weight decay in Adam optimizer.

[2021-12-16 03:51] zoq commented on #334
At this point you would have to use the SGD class as basis:

[code]

[2021-12-25 13:09] #282 closed

[2022-01-22 04:06] #334 closed

[2022-02-12 04:29] conradsnicta commented on #244
Should be solved by #337. Please reopen if it doesn't work properly.

[2022-02-12 04:29] #244 closed

[2022-03-07 06:45] giofum opened #339 "Compiling errors ensmallen 02.18.02 using VS2019 armadillo.lib 10.08.02 and mlpack.lib 03.04.02"
Hello everybody!
Has anyone of you experimented this problem, or similar?
I've correctly built armadillo and mlpack, but trying to compile a mlpack example leads to this:

Gravità	Codice	Descrizione	Progetto	File	Riga	Stato eliminazione
Errore	C2672	'core::v2::meta::all': non sono state trovate funzioni in overload corrispondenti	RNNLib	d:\mlpack_build2\bin\include\mlpack\core\std_backport\algorit

[2022-03-07 11:11] shrit commented on #339
Are you using RNNLib? It is not able to find the overload for RNNlLib, we do not use this library in mlpack.

[2022-03-07 13:02] giofum commented on #339
RNNLib is the name of my library, unfortunately probably the same of an existent one

[2022-03-07 13:10] shrit commented on #339
May I ask how are you compiling mlpack? or did you do that already? because you are mentioning that you are compiling an example?

[2022-03-07 13:15] zoq commented on #339
I'm not sure I can see the connection with ensmallen here, unless I missed something, can you close this issue and open it in `mlpack/mlpack` and use one of the issue templates, which asks for some additional information, that helps us a lot in figuring out what the issue could be.

[2022-03-07 13:37] giofum commented on #339
Re: May I ask how are you compiling mlpack? or did you do that already? because you are mentioning that you are compiling an example?

At first i've generated MLPack-INSTALL.vcxproj with cmake then built it. I'm new in this kind or compiling via cmake, so i'm sure i am missing something of doing something wrong

[2022-03-07 13:39] giofum commented on #339
Re: I'm not sure I can see the connection with ensmallen here, unless I missed something, can you close this issue and open it in mlpack/mlpack and use one of the issue templates, which asks for some additional information, that helps us a lot in figuring out what the issue could be.

ok

[2022-03-07 14:26] #339 closed

[2022-05-28 03:52] ZulunZhu opened #345 "The example to use the constrained function"
I am a beginner in C++, and I am curious about the template of the constrained function. Because the examples only show how to solve the square function, I don't know what should I return in the constrained function. Can anyone provide some examples? Thank you very much.
![image](https://user-images.githubusercontent.com/27121033/170808774-9677bcdd-67d0-41f4-99b2-e95d20a63fac.png)

[2022-05-30 18:28] zoq commented on #345
Hello, what you want to return is the `f(x)`, so the function `f` at `x`, in the example above it's `x` but without the surrounding `{}`. You can find another example here - https://github.com/mlpack/ensmallen/blob/master/include/ensmallen_bits/problems/aug_lagrangian_test_functions_impl.hpp#L55-L64

Let me know if you like me to clarify anything further.

[2022-06-16 03:45] ZulunZhu commented on #345
Thanks for your reply. I think I might have formulated the code well. But another question is, when the function is too complex, the gradient is almost can not be obtained. So I use the approximation function (f'(x) = (f(x+eps)-f(x))/eps). After the optimization, I found the gradient is not close to zero. It is really strange. Do you have other ideas to get the gradient easily?

[2022-06-25 05:09] #176 closed

[2022-06-27 16:49] zoq commented on #345
If you have matlab or a similair toolbox you can use that to return the gradient -- https://www.mathworks.com/help/matlab/ref/gradient.html is just one example.

[2022-07-21 16:38] jjf234 opened #348 "AugLagrangian with constraints validation"
#### Issue description

Hi, I'm using ``ens::AugLagrangian`` to minimize variance with constraints (weights sum to one) and struggling to validate the results vs another optimizer. The constraints appear to be satisfied but the ensmallen result remains greater than the other optimizer result. I followed another example (see https://github.com/mlpack/ensmallen/issues/199) but still must be missing

[2022-07-26 19:07] zoq commented on #348
Hello, you are expecting the same results from both implementations? The scipy and ensmallen implementation differs slightly, so I'm not surprised that we don't see the same results especially if we use different default values. Can you rerun the example with:

`al.Optimize(min_var, weights, Report(0.1));`

What I like to see is if, the optimization runs for the full 1000 iterations (default).

[2022-07-27 01:19] jjf234 commented on #348
Thanks and agree the scipy implementation might differ slightly so here's an exact solution using Lagrangian multipliers via armadillo instead (that is similar to scipy's results):

[code]
Using armadillo:

[code]

For reference, attached the report when the initial parameters are [ones](https://github.com/mlpack/ensmallen/files/9194195/output_ones.txt) (as initial report above) and also when the

[2022-08-03 17:10] #345 closed

[2022-08-24 20:44] rcurtin commented on #348
My memory from years ago is that it can be tricky to make this implementation of the augmented Lagrangian method converge, but, that is only in the context of what it was written for---which was solving SDPs.  (If you are interested, see Monteiro + Burer 2004.)

Try adding `#define ENS_PRINT_INFO` to your program, and I think maybe it will be easier to see what is going on.  Perhaps `sigmaUpdateFa

[2022-09-05 21:52] jjf234 commented on #348
Thanks for the insight and guidance. I added `#define ENS_PRINT_INFO` into my program which has been helpful to try out various combinations of `penaltyThresholdFactor` and `sigmaUpdateFactor` but still have not been able to tie out the results yet. For reference, here is the print info for [`sigmaUpdateFactor = 10`](https://github.com/mlpack/ensmallen/files/9492072/output_10.txt) (default) and [`

[2022-09-14 22:11] rcurtin commented on #348
There is a tradeoff between `penaltyThresholdFactor` and `sigmaUpdateFactor`.  Basically, the way the augmented Lagrangian optimizer works is that it adds a "soft" penalty corresponding to the constraints to the objective, and asks L-BFGS to solve this modified objective.  When L-BFGS solves this modified objective successfully, we increase `sigma` by multiplying by `sigmaUpdateFactor`, and then w

[2022-09-15 17:59] jjf234 commented on #348
Thanks for the explanation and trying out my example. Would you happen to recommend another solver for my problem instead? Specifically I'm just trying to solve the standard "minimize portfolio variance with weights that sum up to one" problem.

[2022-10-18 19:47] rcurtin commented on #348
Hey, I'm sorry for the slow response here.  This fell off my list somehow.  Unfortunately I don't actually have another recommendation here---ensmallen's support for constrained optimizers is not extensive, although I would certainly like to see that improve in future releases.

[2022-10-25 20:23] #348 closed